﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:734px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u58_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u58 {
  position:absolute;
  left:6px;
  top:7px;
  width:145px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:56px;
  top:55px;
  width:683px;
  height:181px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:20px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:20px;
  font-size:14px;
}
#u62 {
  position:absolute;
  left:2px;
  top:2px;
  width:222px;
  word-wrap:break-word;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:20px;
}
#u63 {
  position:absolute;
  left:226px;
  top:0px;
  width:226px;
  height:20px;
  font-size:14px;
}
#u64 {
  position:absolute;
  left:2px;
  top:2px;
  width:222px;
  word-wrap:break-word;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:20px;
}
#u65 {
  position:absolute;
  left:452px;
  top:0px;
  width:226px;
  height:20px;
  font-size:14px;
}
#u66 {
  position:absolute;
  left:2px;
  top:2px;
  width:222px;
  word-wrap:break-word;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:36px;
}
#u67 {
  position:absolute;
  left:0px;
  top:20px;
  width:226px;
  height:36px;
  font-size:14px;
}
#u68 {
  position:absolute;
  left:2px;
  top:10px;
  width:222px;
  word-wrap:break-word;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:36px;
}
#u69 {
  position:absolute;
  left:226px;
  top:20px;
  width:226px;
  height:36px;
  font-size:14px;
}
#u70 {
  position:absolute;
  left:2px;
  top:10px;
  width:222px;
  word-wrap:break-word;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:36px;
}
#u71 {
  position:absolute;
  left:452px;
  top:20px;
  width:226px;
  height:36px;
  font-size:14px;
}
#u72 {
  position:absolute;
  left:2px;
  top:10px;
  width:222px;
  word-wrap:break-word;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:36px;
}
#u73 {
  position:absolute;
  left:0px;
  top:56px;
  width:226px;
  height:36px;
  font-size:14px;
}
#u74 {
  position:absolute;
  left:2px;
  top:10px;
  width:222px;
  word-wrap:break-word;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:36px;
}
#u75 {
  position:absolute;
  left:226px;
  top:56px;
  width:226px;
  height:36px;
  font-size:14px;
}
#u76 {
  position:absolute;
  left:2px;
  top:10px;
  width:222px;
  word-wrap:break-word;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:36px;
}
#u77 {
  position:absolute;
  left:452px;
  top:56px;
  width:226px;
  height:36px;
  font-size:14px;
}
#u78 {
  position:absolute;
  left:2px;
  top:10px;
  width:222px;
  word-wrap:break-word;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:84px;
}
#u79 {
  position:absolute;
  left:0px;
  top:92px;
  width:226px;
  height:84px;
  font-size:14px;
}
#u80 {
  position:absolute;
  left:2px;
  top:34px;
  width:222px;
  word-wrap:break-word;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:84px;
}
#u81 {
  position:absolute;
  left:226px;
  top:92px;
  width:226px;
  height:84px;
  font-size:14px;
}
#u82 {
  position:absolute;
  left:2px;
  top:26px;
  width:222px;
  word-wrap:break-word;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:84px;
}
#u83 {
  position:absolute;
  left:452px;
  top:92px;
  width:226px;
  height:84px;
  font-size:14px;
}
#u84 {
  position:absolute;
  left:2px;
  top:34px;
  width:222px;
  word-wrap:break-word;
}
