﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1122px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u27_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u27 {
  position:absolute;
  left:6px;
  top:7px;
  width:145px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1064px;
  height:33px;
}
#u29 {
  position:absolute;
  left:58px;
  top:45px;
  width:1064px;
  height:33px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:1064px;
  word-wrap:break-word;
}
#u31_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u31 {
  position:absolute;
  left:6px;
  top:98px;
  width:145px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1064px;
  height:83px;
}
#u33 {
  position:absolute;
  left:58px;
  top:136px;
  width:1064px;
  height:83px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:1064px;
  word-wrap:break-word;
}
#u35_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u35 {
  position:absolute;
  left:6px;
  top:237px;
  width:145px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:58px;
  top:285px;
  width:426px;
  height:185px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
  font-size:14px;
}
#u39 {
  position:absolute;
  left:2px;
  top:7px;
  width:134px;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
}
#u40 {
  position:absolute;
  left:138px;
  top:0px;
  width:194px;
  height:30px;
  font-size:14px;
}
#u41 {
  position:absolute;
  left:2px;
  top:7px;
  width:190px;
  word-wrap:break-word;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u42 {
  position:absolute;
  left:332px;
  top:0px;
  width:89px;
  height:30px;
  font-size:14px;
}
#u43 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  word-wrap:break-word;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:42px;
}
#u44 {
  position:absolute;
  left:0px;
  top:30px;
  width:138px;
  height:42px;
  font-size:14px;
}
#u45 {
  position:absolute;
  left:2px;
  top:13px;
  width:134px;
  word-wrap:break-word;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:42px;
}
#u46 {
  position:absolute;
  left:138px;
  top:30px;
  width:194px;
  height:42px;
  font-size:14px;
}
#u47 {
  position:absolute;
  left:2px;
  top:13px;
  width:190px;
  word-wrap:break-word;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:42px;
}
#u48 {
  position:absolute;
  left:332px;
  top:30px;
  width:89px;
  height:42px;
  font-size:14px;
}
#u49 {
  position:absolute;
  left:2px;
  top:13px;
  width:85px;
  word-wrap:break-word;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:36px;
}
#u50 {
  position:absolute;
  left:0px;
  top:72px;
  width:138px;
  height:36px;
  font-size:14px;
}
#u51 {
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:36px;
}
#u52 {
  position:absolute;
  left:138px;
  top:72px;
  width:194px;
  height:36px;
  font-size:14px;
}
#u53 {
  position:absolute;
  left:2px;
  top:10px;
  width:190px;
  word-wrap:break-word;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:36px;
}
#u54 {
  position:absolute;
  left:332px;
  top:72px;
  width:89px;
  height:36px;
  font-size:14px;
}
#u55 {
  position:absolute;
  left:2px;
  top:10px;
  width:85px;
  word-wrap:break-word;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:36px;
}
#u56 {
  position:absolute;
  left:0px;
  top:108px;
  width:138px;
  height:36px;
  font-size:14px;
}
#u57 {
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:36px;
}
#u58 {
  position:absolute;
  left:138px;
  top:108px;
  width:194px;
  height:36px;
  font-size:14px;
}
#u59 {
  position:absolute;
  left:2px;
  top:10px;
  width:190px;
  word-wrap:break-word;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:36px;
}
#u60 {
  position:absolute;
  left:332px;
  top:108px;
  width:89px;
  height:36px;
  font-size:14px;
}
#u61 {
  position:absolute;
  left:2px;
  top:10px;
  width:85px;
  word-wrap:break-word;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:36px;
}
#u62 {
  position:absolute;
  left:0px;
  top:144px;
  width:138px;
  height:36px;
  font-size:14px;
}
#u63 {
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:36px;
}
#u64 {
  position:absolute;
  left:138px;
  top:144px;
  width:194px;
  height:36px;
  font-size:14px;
}
#u65 {
  position:absolute;
  left:2px;
  top:10px;
  width:190px;
  word-wrap:break-word;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:36px;
}
#u66 {
  position:absolute;
  left:332px;
  top:144px;
  width:89px;
  height:36px;
  font-size:14px;
}
#u67 {
  position:absolute;
  left:2px;
  top:10px;
  width:85px;
  word-wrap:break-word;
}
