﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:791px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:791px;
  height:58px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:791px;
  height:58px;
}
#u17 {
  position:absolute;
  left:2px;
  top:21px;
  width:787px;
  visibility:hidden;
  word-wrap:break-word;
}
