﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1288px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u62_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u62 {
  position:absolute;
  left:17px;
  top:12px;
  width:121px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u64_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u64 {
  position:absolute;
  left:17px;
  top:46px;
  width:118px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:68px;
}
#u66 {
  position:absolute;
  left:83px;
  top:1254px;
  width:206px;
  height:68px;
}
#u67 {
  position:absolute;
  left:2px;
  top:26px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:46px;
}
#u68 {
  position:absolute;
  left:365px;
  top:1265px;
  width:151px;
  height:46px;
}
#u69 {
  position:absolute;
  left:2px;
  top:15px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u70 {
  position:absolute;
  left:154px;
  top:1265px;
  width:58px;
  height:46px;
}
#u71 {
  position:absolute;
  left:2px;
  top:15px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:212px;
  top:1288px;
  width:0px;
  height:0px;
}
#u72_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:157px;
  height:8px;
}
#u72_seg1 {
  position:absolute;
  left:140px;
  top:-10px;
  width:20px;
  height:20px;
}
#u73 {
  position:absolute;
  left:26px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:344px;
}
#u75 {
  position:absolute;
  left:973px;
  top:110px;
  width:87px;
  height:344px;
}
#u76 {
  position:absolute;
  left:2px;
  top:164px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:909px;
  height:34px;
}
#u77 {
  position:absolute;
  left:64px;
  top:78px;
  width:909px;
  height:34px;
}
#u78 {
  position:absolute;
  left:2px;
  top:9px;
  width:905px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:909px;
  height:344px;
}
#u79 {
  position:absolute;
  left:64px;
  top:112px;
  width:909px;
  height:344px;
}
#u80 {
  position:absolute;
  left:2px;
  top:164px;
  width:905px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:34px;
}
#u81 {
  position:absolute;
  left:973px;
  top:78px;
  width:252px;
  height:34px;
}
#u82 {
  position:absolute;
  left:2px;
  top:9px;
  width:248px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:344px;
}
#u83 {
  position:absolute;
  left:1057px;
  top:112px;
  width:168px;
  height:344px;
}
#u84 {
  position:absolute;
  left:2px;
  top:164px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:358px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u85 {
  position:absolute;
  left:973px;
  top:96px;
  width:84px;
  height:358px;
}
#u86 {
  position:absolute;
  left:2px;
  top:171px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:22px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u87 {
  position:absolute;
  left:403px;
  top:84px;
  width:67px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u88 {
  position:absolute;
  left:2px;
  top:3px;
  width:63px;
  word-wrap:break-word;
}
#u89_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u89 {
  position:absolute;
  left:161px;
  top:497px;
  width:300px;
  height:122px;
}
#u90 {
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  word-wrap:break-word;
}
#u91_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u91 {
  position:absolute;
  left:204px;
  top:584px;
  width:81px;
  height:25px;
}
#u92 {
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u93_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u93 {
  position:absolute;
  left:350px;
  top:584px;
  width:81px;
  height:25px;
}
#u94 {
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u95 {
  position:absolute;
  left:440px;
  top:505px;
  width:12px;
  height:12px;
}
#u96 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:437px;
  top:106px;
  width:0px;
  height:0px;
}
#u97_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:392px;
}
#u97_seg1 {
  position:absolute;
  left:-10px;
  top:375px;
  width:20px;
  height:20px;
}
#u98 {
  position:absolute;
  left:-50px;
  top:186px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u99 {
  position:absolute;
  left:1048px;
  top:86px;
  width:18px;
  height:18px;
  font-size:14px;
  color:#FFFFFF;
}
#u100 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  word-wrap:break-word;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u101 {
  position:absolute;
  left:480px;
  top:86px;
  width:18px;
  height:18px;
  font-size:14px;
  color:#FFFFFF;
}
#u102 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  word-wrap:break-word;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u103 {
  position:absolute;
  left:394px;
  top:516px;
  width:18px;
  height:18px;
  font-size:14px;
  color:#FFFFFF;
}
#u104 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  word-wrap:break-word;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u105 {
  position:absolute;
  left:619px;
  top:484px;
  width:18px;
  height:18px;
  font-size:14px;
  color:#FFFFFF;
}
#u106 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  word-wrap:break-word;
}
#u107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u107 {
  position:absolute;
  left:647px;
  top:482px;
  width:369px;
  height:21px;
  font-size:16px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  white-space:nowrap;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u109 {
  position:absolute;
  left:619px;
  top:559px;
  width:18px;
  height:18px;
  font-size:14px;
  color:#FFFFFF;
}
#u110 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  word-wrap:break-word;
}
#u111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u111 {
  position:absolute;
  left:647px;
  top:556px;
  width:481px;
  height:21px;
  font-size:16px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  white-space:nowrap;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u113 {
  position:absolute;
  left:619px;
  top:599px;
  width:18px;
  height:18px;
  font-size:14px;
  color:#FFFFFF;
}
#u114 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  word-wrap:break-word;
}
#u115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:352px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u115 {
  position:absolute;
  left:647px;
  top:597px;
  width:641px;
  height:352px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  white-space:nowrap;
}
#u117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u117 {
  position:absolute;
  left:647px;
  top:517px;
  width:385px;
  height:21px;
  font-size:16px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  white-space:nowrap;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u119 {
  position:absolute;
  left:619px;
  top:520px;
  width:18px;
  height:18px;
  font-size:14px;
  color:#FFFFFF;
}
#u120 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  word-wrap:break-word;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u121 {
  position:absolute;
  left:1119px;
  top:171px;
  width:18px;
  height:18px;
  font-size:14px;
  color:#FFFFFF;
}
#u122 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  word-wrap:break-word;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:2px;
}
#u123 {
  position:absolute;
  left:1066px;
  top:179px;
  width:52px;
  height:1px;
}
#u124 {
  position:absolute;
  left:2px;
  top:-8px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:2px;
}
#u125 {
  position:absolute;
  left:1066px;
  top:255px;
  width:52px;
  height:1px;
}
#u126 {
  position:absolute;
  left:2px;
  top:-8px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:2px;
}
#u127 {
  position:absolute;
  left:1066px;
  top:332px;
  width:52px;
  height:1px;
}
#u128 {
  position:absolute;
  left:2px;
  top:-8px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u129 {
  position:absolute;
  left:40px;
  top:977px;
  width:118px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u131 {
  position:absolute;
  left:154px;
  top:1254px;
  width:18px;
  height:18px;
  font-size:14px;
  color:#FFFFFF;
}
#u132 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  word-wrap:break-word;
}
#u133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u133 {
  position:absolute;
  left:375px;
  top:1278px;
  width:40px;
  height:19px;
  font-size:13px;
  color:#FF0000;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:881px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u135 {
  position:absolute;
  left:83px;
  top:1035px;
  width:881px;
  height:84px;
  font-size:16px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:881px;
  white-space:nowrap;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u137 {
  position:absolute;
  left:55px;
  top:1035px;
  width:18px;
  height:18px;
  font-size:14px;
  color:#FFFFFF;
}
#u138 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  word-wrap:break-word;
}
#u139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u139 {
  position:absolute;
  left:964px;
  top:992px;
  width:300px;
  height:122px;
}
#u140 {
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  word-wrap:break-word;
}
#u141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u141 {
  position:absolute;
  left:1074px;
  top:1080px;
  width:81px;
  height:25px;
}
#u142 {
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u143 {
  position:absolute;
  left:1243px;
  top:1000px;
  width:12px;
  height:12px;
}
#u144 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:68px;
}
#u145 {
  position:absolute;
  left:83px;
  top:1124px;
  width:206px;
  height:68px;
}
#u146 {
  position:absolute;
  left:2px;
  top:26px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:46px;
}
#u147 {
  position:absolute;
  left:365px;
  top:1135px;
  width:151px;
  height:46px;
}
#u148 {
  position:absolute;
  left:2px;
  top:15px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:212px;
  top:1158px;
  width:0px;
  height:0px;
}
#u149_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:157px;
  height:8px;
}
#u149_seg1 {
  position:absolute;
  left:140px;
  top:-10px;
  width:20px;
  height:20px;
}
#u150 {
  position:absolute;
  left:26px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u151 {
  position:absolute;
  left:96px;
  top:1135px;
  width:58px;
  height:46px;
}
#u152 {
  position:absolute;
  left:2px;
  top:15px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u153 {
  position:absolute;
  left:96px;
  top:1124px;
  width:18px;
  height:18px;
  font-size:14px;
  color:#FFFFFF;
}
#u154 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  word-wrap:break-word;
}
#u155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u155 {
  position:absolute;
  left:364px;
  top:1148px;
  width:53px;
  height:19px;
  font-size:13px;
  color:#FF0000;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:657px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u157 {
  position:absolute;
  left:71px;
  top:1202px;
  width:657px;
  height:42px;
  font-size:16px;
}
#u158 {
  position:absolute;
  left:0px;
  top:0px;
  width:657px;
  white-space:nowrap;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u159 {
  position:absolute;
  left:53px;
  top:1202px;
  width:18px;
  height:18px;
  font-size:14px;
  color:#FFFFFF;
}
#u160 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  word-wrap:break-word;
}
#u161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u161 {
  position:absolute;
  left:40px;
  top:1004px;
  width:790px;
  height:21px;
  font-size:16px;
}
#u162 {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  white-space:nowrap;
}
#u163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u163 {
  position:absolute;
  left:40px;
  top:1332px;
  width:502px;
  height:21px;
  font-size:16px;
}
#u164 {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  white-space:nowrap;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:46px;
}
#u165 {
  position:absolute;
  left:88px;
  top:1407px;
  width:151px;
  height:46px;
}
#u166 {
  position:absolute;
  left:2px;
  top:15px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u167 {
  position:absolute;
  left:87px;
  top:1420px;
  width:53px;
  height:19px;
  font-size:13px;
  color:#FF0000;
}
#u168 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u169 {
  position:absolute;
  left:88px;
  top:1363px;
  width:481px;
  height:21px;
  font-size:16px;
}
#u170 {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  white-space:nowrap;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:46px;
}
#u171 {
  position:absolute;
  left:280px;
  top:1407px;
  width:151px;
  height:46px;
}
#u172 {
  position:absolute;
  left:2px;
  top:15px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u173 {
  position:absolute;
  left:290px;
  top:1420px;
  width:40px;
  height:19px;
  font-size:13px;
  color:#FF0000;
}
#u174 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u175 {
  position:absolute;
  left:136px;
  top:1435px;
  width:18px;
  height:18px;
  font-size:14px;
  color:#FFFFFF;
}
#u176 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  word-wrap:break-word;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u177 {
  position:absolute;
  left:60px;
  top:1365px;
  width:18px;
  height:18px;
  font-size:14px;
  color:#FFFFFF;
}
#u178 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  word-wrap:break-word;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u179 {
  position:absolute;
  left:320px;
  top:1439px;
  width:18px;
  height:18px;
  font-size:14px;
  color:#FFFFFF;
}
#u180 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  word-wrap:break-word;
}
#u181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u181 {
  position:absolute;
  left:88px;
  top:1467px;
  width:529px;
  height:21px;
  font-size:16px;
}
#u182 {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  white-space:nowrap;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u183 {
  position:absolute;
  left:60px;
  top:1469px;
  width:18px;
  height:18px;
  font-size:14px;
  color:#FFFFFF;
}
#u184 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  word-wrap:break-word;
}
#u185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:753px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u185 {
  position:absolute;
  left:88px;
  top:1518px;
  width:753px;
  height:42px;
  font-size:16px;
}
#u186 {
  position:absolute;
  left:0px;
  top:0px;
  width:753px;
  white-space:nowrap;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u187 {
  position:absolute;
  left:60px;
  top:1520px;
  width:18px;
  height:18px;
  font-size:14px;
  color:#FFFFFF;
}
#u188 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  word-wrap:break-word;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:46px;
}
#u189 {
  position:absolute;
  left:154px;
  top:1563px;
  width:151px;
  height:46px;
}
#u190 {
  position:absolute;
  left:2px;
  top:15px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u191 {
  position:absolute;
  left:63px;
  top:1577px;
  width:53px;
  height:19px;
  font-size:13px;
  color:#FF0000;
}
#u192 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:31px;
  background:inherit;
  background-color:rgba(91, 183, 91, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u193 {
  position:absolute;
  left:126px;
  top:1571px;
  width:78px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u194 {
  position:absolute;
  left:2px;
  top:8px;
  width:74px;
  word-wrap:break-word;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u195 {
  position:absolute;
  left:117px;
  top:1591px;
  width:18px;
  height:18px;
  font-size:14px;
  color:#FFFFFF;
}
#u196 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  word-wrap:break-word;
}
