﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:648px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u27_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u27 {
  position:absolute;
  left:6px;
  top:7px;
  width:145px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  height:57px;
}
#u29 {
  position:absolute;
  left:58px;
  top:45px;
  width:551px;
  height:57px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  word-wrap:break-word;
}
#u31_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u31 {
  position:absolute;
  left:6px;
  top:112px;
  width:145px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  height:26px;
}
#u33 {
  position:absolute;
  left:58px;
  top:150px;
  width:551px;
  height:26px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:58px;
  top:176px;
  width:420px;
  height:100px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:23px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:23px;
}
#u37 {
  position:absolute;
  left:2px;
  top:4px;
  width:43px;
  word-wrap:break-word;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:23px;
}
#u38 {
  position:absolute;
  left:47px;
  top:0px;
  width:251px;
  height:23px;
}
#u39 {
  position:absolute;
  left:2px;
  top:4px;
  width:247px;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:23px;
}
#u40 {
  position:absolute;
  left:298px;
  top:0px;
  width:117px;
  height:23px;
}
#u41 {
  position:absolute;
  left:2px;
  top:4px;
  width:113px;
  word-wrap:break-word;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:20px;
}
#u42 {
  position:absolute;
  left:0px;
  top:23px;
  width:47px;
  height:20px;
}
#u43 {
  position:absolute;
  left:2px;
  top:2px;
  width:43px;
  word-wrap:break-word;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:20px;
}
#u44 {
  position:absolute;
  left:47px;
  top:23px;
  width:251px;
  height:20px;
}
#u45 {
  position:absolute;
  left:2px;
  top:2px;
  width:247px;
  word-wrap:break-word;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:20px;
}
#u46 {
  position:absolute;
  left:298px;
  top:23px;
  width:117px;
  height:20px;
}
#u47 {
  position:absolute;
  left:2px;
  top:2px;
  width:113px;
  word-wrap:break-word;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:52px;
}
#u48 {
  position:absolute;
  left:0px;
  top:43px;
  width:47px;
  height:52px;
}
#u49 {
  position:absolute;
  left:2px;
  top:18px;
  width:43px;
  word-wrap:break-word;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:52px;
}
#u50 {
  position:absolute;
  left:47px;
  top:43px;
  width:251px;
  height:52px;
}
#u51 {
  position:absolute;
  left:2px;
  top:18px;
  width:247px;
  word-wrap:break-word;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:52px;
}
#u52 {
  position:absolute;
  left:298px;
  top:43px;
  width:117px;
  height:52px;
}
#u53 {
  position:absolute;
  left:2px;
  top:18px;
  width:113px;
  word-wrap:break-word;
}
#u54_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u54 {
  position:absolute;
  left:6px;
  top:292px;
  width:145px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:142px;
}
#u56 {
  position:absolute;
  left:58px;
  top:330px;
  width:590px;
  height:142px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  word-wrap:break-word;
}
