﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1445px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:304px;
}
#u0 {
  position:absolute;
  left:834px;
  top:889px;
  width:261px;
  height:304px;
}
#u1 {
  position:absolute;
  left:2px;
  top:144px;
  width:257px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:304px;
}
#u2 {
  position:absolute;
  left:484px;
  top:778px;
  width:261px;
  height:304px;
}
#u3 {
  position:absolute;
  left:2px;
  top:144px;
  width:257px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:316px;
}
#u4 {
  position:absolute;
  left:131px;
  top:676px;
  width:261px;
  height:316px;
}
#u5 {
  position:absolute;
  left:2px;
  top:150px;
  width:257px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:296px;
}
#u6 {
  position:absolute;
  left:1184px;
  top:991px;
  width:261px;
  height:296px;
}
#u7 {
  position:absolute;
  left:2px;
  top:140px;
  width:257px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:398px;
  top:794px;
  width:0px;
  height:0px;
}
#u8_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:5px;
}
#u8_seg1 {
  position:absolute;
  left:-4px;
  top:-3px;
  width:73px;
  height:8px;
}
#u8_seg2 {
  position:absolute;
  left:56px;
  top:-9px;
  width:20px;
  height:20px;
}
#u9 {
  position:absolute;
  left:-16px;
  top:-7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:754px;
  top:901px;
  width:0px;
  height:0px;
}
#u10_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:74px;
  height:8px;
}
#u10_seg1 {
  position:absolute;
  left:57px;
  top:-10px;
  width:20px;
  height:20px;
}
#u11 {
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1108px;
  top:1009px;
  width:0px;
  height:0px;
}
#u12_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:74px;
  height:8px;
}
#u12_seg1 {
  position:absolute;
  left:57px;
  top:-10px;
  width:20px;
  height:20px;
}
#u13 {
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u14 {
  position:absolute;
  left:413px;
  top:757px;
  width:29px;
  height:16px;
  color:#FF0000;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u16 {
  position:absolute;
  left:775px;
  top:874px;
  width:29px;
  height:16px;
  color:#FF0000;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u18_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u18 {
  position:absolute;
  left:1126px;
  top:980px;
  width:29px;
  height:16px;
  color:#FF0000;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:330px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20 {
  position:absolute;
  left:110px;
  top:666px;
  width:22px;
  height:330px;
}
#u21 {
  position:absolute;
  left:2px;
  top:157px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:330px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22 {
  position:absolute;
  left:274px;
  top:501px;
  width:22px;
  height:330px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u23 {
  position:absolute;
  left:2px;
  top:157px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:330px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24 {
  position:absolute;
  left:471px;
  top:768px;
  width:14px;
  height:330px;
}
#u25 {
  position:absolute;
  left:2px;
  top:157px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_div {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:330px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26 {
  position:absolute;
  left:825px;
  top:873px;
  width:11px;
  height:330px;
}
#u27 {
  position:absolute;
  left:2px;
  top:157px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:330px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28 {
  position:absolute;
  left:1178px;
  top:980px;
  width:8px;
  height:330px;
}
#u29 {
  position:absolute;
  left:2px;
  top:157px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:33px;
}
#u31 {
  position:absolute;
  left:133px;
  top:633px;
  width:257px;
  height:33px;
}
#u32 {
  position:absolute;
  left:2px;
  top:8px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
  background:inherit;
  background-color:rgba(102, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u33 {
  position:absolute;
  left:212px;
  top:639px;
  width:100px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
}
#u35 {
  position:absolute;
  left:139px;
  top:640px;
  width:15px;
  height:18px;
}
#u36 {
  position:absolute;
  left:2px;
  top:1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:33px;
}
#u38 {
  position:absolute;
  left:486px;
  top:740px;
  width:257px;
  height:33px;
}
#u39 {
  position:absolute;
  left:2px;
  top:8px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
  background:inherit;
  background-color:rgba(102, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u40 {
  position:absolute;
  left:565px;
  top:746px;
  width:100px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
}
#u42 {
  position:absolute;
  left:492px;
  top:747px;
  width:15px;
  height:18px;
}
#u43 {
  position:absolute;
  left:2px;
  top:1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:33px;
}
#u45 {
  position:absolute;
  left:834px;
  top:850px;
  width:257px;
  height:33px;
}
#u46 {
  position:absolute;
  left:2px;
  top:8px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
  background:inherit;
  background-color:rgba(102, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u47 {
  position:absolute;
  left:913px;
  top:856px;
  width:100px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
}
#u49 {
  position:absolute;
  left:840px;
  top:857px;
  width:15px;
  height:18px;
}
#u50 {
  position:absolute;
  left:2px;
  top:1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:33px;
}
#u52 {
  position:absolute;
  left:1186px;
  top:961px;
  width:257px;
  height:33px;
}
#u53 {
  position:absolute;
  left:2px;
  top:8px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
  background:inherit;
  background-color:rgba(102, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u54 {
  position:absolute;
  left:1265px;
  top:967px;
  width:100px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
}
#u56 {
  position:absolute;
  left:1192px;
  top:968px;
  width:15px;
  height:18px;
}
#u57 {
  position:absolute;
  left:2px;
  top:1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u58 {
  position:absolute;
  left:28px;
  top:14px;
  width:145px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u60_div {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u60 {
  position:absolute;
  left:78px;
  top:63px;
  width:406px;
  height:19px;
  font-size:16px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  white-space:nowrap;
}
#u62_div {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u62 {
  position:absolute;
  left:78px;
  top:92px;
  width:383px;
  height:19px;
  font-size:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:33px;
}
#u65 {
  position:absolute;
  left:104px;
  top:133px;
  width:257px;
  height:33px;
}
#u66 {
  position:absolute;
  left:2px;
  top:8px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
  background:inherit;
  background-color:rgba(102, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u67 {
  position:absolute;
  left:183px;
  top:139px;
  width:100px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
}
#u69 {
  position:absolute;
  left:110px;
  top:140px;
  width:15px;
  height:18px;
}
#u70 {
  position:absolute;
  left:2px;
  top:1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u71 {
  position:absolute;
  left:119px;
  top:179px;
  width:231px;
  height:40px;
  font-size:14px;
}
#u72 {
  position:absolute;
  left:2px;
  top:12px;
  width:227px;
  word-wrap:break-word;
}
#u73_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 102, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u73 {
  position:absolute;
  left:119px;
  top:229px;
  width:231px;
  height:40px;
  font-size:14px;
}
#u74 {
  position:absolute;
  left:2px;
  top:12px;
  width:227px;
  word-wrap:break-word;
}
#u75_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u75 {
  position:absolute;
  left:118px;
  top:281px;
  width:231px;
  height:40px;
  font-size:14px;
}
#u76 {
  position:absolute;
  left:2px;
  top:12px;
  width:227px;
  word-wrap:break-word;
}
#u77_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 102, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u77 {
  position:absolute;
  left:117px;
  top:335px;
  width:231px;
  height:40px;
  font-size:14px;
}
#u78 {
  position:absolute;
  left:2px;
  top:12px;
  width:227px;
  word-wrap:break-word;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u79 {
  position:absolute;
  left:316px;
  top:345px;
  width:21px;
  height:21px;
  color:#FFFFFF;
}
#u80 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  word-wrap:break-word;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u81 {
  position:absolute;
  left:415px;
  top:189px;
  width:21px;
  height:21px;
  color:#FFFFFF;
}
#u82 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  word-wrap:break-word;
}
#u83_div {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u83 {
  position:absolute;
  left:446px;
  top:191px;
  width:531px;
  height:34px;
  font-size:15px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  white-space:nowrap;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u85 {
  position:absolute;
  left:415px;
  top:239px;
  width:21px;
  height:21px;
  color:#FFFFFF;
}
#u86 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  word-wrap:break-word;
}
#u87_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u87 {
  position:absolute;
  left:446px;
  top:239px;
  width:206px;
  height:17px;
  font-size:15px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  white-space:nowrap;
}
#u89_div {
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:152px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u89 {
  position:absolute;
  left:86px;
  top:413px;
  width:552px;
  height:152px;
  font-size:16px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  white-space:nowrap;
}
#u91_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u91 {
  position:absolute;
  left:207px;
  top:589px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u93_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u93 {
  position:absolute;
  left:560px;
  top:689px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u95_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u95 {
  position:absolute;
  left:926px;
  top:801px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u97_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u97 {
  position:absolute;
  left:1278px;
  top:911px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u99 {
  position:absolute;
  left:141px;
  top:1263px;
  width:21px;
  height:21px;
  color:#FFFFFF;
}
#u100 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  word-wrap:break-word;
}
#u101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u101 {
  position:absolute;
  left:172px;
  top:1263px;
  width:271px;
  height:17px;
  font-size:15px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  white-space:nowrap;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u103 {
  position:absolute;
  left:163px;
  top:782px;
  width:21px;
  height:21px;
  color:#FFFFFF;
}
#u104 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  word-wrap:break-word;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u105 {
  position:absolute;
  left:280px;
  top:793px;
  width:21px;
  height:21px;
  color:#FFFFFF;
}
#u106 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  word-wrap:break-word;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u107 {
  position:absolute;
  left:141px;
  top:1299px;
  width:21px;
  height:21px;
  color:#FFFFFF;
}
#u108 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  word-wrap:break-word;
}
#u109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u109 {
  position:absolute;
  left:172px;
  top:1299px;
  width:181px;
  height:17px;
  font-size:15px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u111 {
  position:absolute;
  left:141px;
  top:1193px;
  width:21px;
  height:21px;
  color:#FFFFFF;
}
#u112 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  word-wrap:break-word;
}
#u113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:656px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u113 {
  position:absolute;
  left:172px;
  top:1182px;
  width:656px;
  height:68px;
  font-size:15px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:656px;
  white-space:nowrap;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u115 {
  position:absolute;
  left:154px;
  top:637px;
  width:21px;
  height:21px;
  color:#FFFFFF;
}
#u116 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  word-wrap:break-word;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u117 {
  position:absolute;
  left:302px;
  top:638px;
  width:21px;
  height:21px;
  color:#FFFFFF;
}
#u118 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  word-wrap:break-word;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u119 {
  position:absolute;
  left:141px;
  top:1121px;
  width:21px;
  height:21px;
  color:#FFFFFF;
}
#u120 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  word-wrap:break-word;
}
#u121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:571px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u121 {
  position:absolute;
  left:172px;
  top:1121px;
  width:571px;
  height:51px;
  font-size:15px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:571px;
  white-space:nowrap;
}
#u123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u123 {
  position:absolute;
  left:56px;
  top:1412px;
  width:90px;
  height:19px;
  font-size:16px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u125 {
  position:absolute;
  left:120px;
  top:1459px;
  width:913px;
  height:234px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-size:15px;
}
#u127 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:808px;
  height:30px;
}
#u128 {
  position:absolute;
  left:100px;
  top:0px;
  width:808px;
  height:30px;
  font-size:15px;
}
#u129 {
  position:absolute;
  left:2px;
  top:6px;
  width:804px;
  word-wrap:break-word;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:38px;
}
#u130 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:38px;
  font-size:15px;
}
#u131 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:808px;
  height:38px;
}
#u132 {
  position:absolute;
  left:100px;
  top:30px;
  width:808px;
  height:38px;
  font-size:15px;
}
#u133 {
  position:absolute;
  left:2px;
  top:10px;
  width:804px;
  word-wrap:break-word;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:38px;
}
#u134 {
  position:absolute;
  left:0px;
  top:68px;
  width:100px;
  height:38px;
  font-size:15px;
}
#u135 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:808px;
  height:38px;
}
#u136 {
  position:absolute;
  left:100px;
  top:68px;
  width:808px;
  height:38px;
  font-size:15px;
}
#u137 {
  position:absolute;
  left:2px;
  top:10px;
  width:804px;
  word-wrap:break-word;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u138 {
  position:absolute;
  left:0px;
  top:106px;
  width:100px;
  height:30px;
  font-size:15px;
}
#u139 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:808px;
  height:30px;
}
#u140 {
  position:absolute;
  left:100px;
  top:106px;
  width:808px;
  height:30px;
  font-size:15px;
}
#u141 {
  position:absolute;
  left:2px;
  top:6px;
  width:804px;
  word-wrap:break-word;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:33px;
}
#u142 {
  position:absolute;
  left:0px;
  top:136px;
  width:100px;
  height:33px;
  font-size:15px;
}
#u143 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:808px;
  height:33px;
}
#u144 {
  position:absolute;
  left:100px;
  top:136px;
  width:808px;
  height:33px;
  font-size:15px;
}
#u145 {
  position:absolute;
  left:2px;
  top:8px;
  width:804px;
  word-wrap:break-word;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u146 {
  position:absolute;
  left:0px;
  top:169px;
  width:100px;
  height:30px;
  font-size:15px;
}
#u147 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:808px;
  height:30px;
}
#u148 {
  position:absolute;
  left:100px;
  top:169px;
  width:808px;
  height:30px;
  font-size:15px;
}
#u149 {
  position:absolute;
  left:2px;
  top:6px;
  width:804px;
  word-wrap:break-word;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u150 {
  position:absolute;
  left:0px;
  top:199px;
  width:100px;
  height:30px;
  font-size:15px;
}
#u151 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:808px;
  height:30px;
}
#u152 {
  position:absolute;
  left:100px;
  top:199px;
  width:808px;
  height:30px;
  font-size:15px;
}
#u153 {
  position:absolute;
  left:2px;
  top:6px;
  width:804px;
  word-wrap:break-word;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u154 {
  position:absolute;
  left:522px;
  top:888px;
  width:21px;
  height:21px;
  color:#FFFFFF;
}
#u155 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  word-wrap:break-word;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u156 {
  position:absolute;
  left:141px;
  top:1330px;
  width:21px;
  height:21px;
  color:#FFFFFF;
}
#u157 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  word-wrap:break-word;
}
#u158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u158 {
  position:absolute;
  left:172px;
  top:1330px;
  width:176px;
  height:17px;
  font-size:15px;
}
#u159 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  white-space:nowrap;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u160 {
  position:absolute;
  left:864px;
  top:999px;
  width:21px;
  height:21px;
  color:#FFFFFF;
}
#u161 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  word-wrap:break-word;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u162 {
  position:absolute;
  left:141px;
  top:1368px;
  width:21px;
  height:21px;
  color:#FFFFFF;
}
#u163 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  word-wrap:break-word;
}
#u164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u164 {
  position:absolute;
  left:172px;
  top:1368px;
  width:172px;
  height:17px;
  font-size:15px;
}
#u165 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  white-space:nowrap;
}
