﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:679px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:679px;
  height:135px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:679px;
  height:135px;
}
#u19 {
  position:absolute;
  left:2px;
  top:60px;
  width:675px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:643px;
  height:231px;
}
#u20 {
  position:absolute;
  left:0px;
  top:187px;
  width:643px;
  height:231px;
}
#u21 {
  position:absolute;
  left:2px;
  top:108px;
  width:639px;
  visibility:hidden;
  word-wrap:break-word;
}
