﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1472px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1472px;
  height:866px;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1472px;
  height:866px;
}
#u1 {
  position:absolute;
  left:2px;
  top:425px;
  width:1468px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:723px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#1E1E1E;
}
#u2 {
  position:absolute;
  left:183px;
  top:186px;
  width:723px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#1E1E1E;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:723px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:183px;
  top:264px;
  width:690px;
  height:181px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:83px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:83px;
  font-size:20px;
}
#u6 {
  position:absolute;
  left:2px;
  top:28px;
  width:224px;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:83px;
}
#u7 {
  position:absolute;
  left:228px;
  top:0px;
  width:228px;
  height:83px;
  font-size:20px;
}
#u8 {
  position:absolute;
  left:2px;
  top:28px;
  width:224px;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:83px;
}
#u9 {
  position:absolute;
  left:456px;
  top:0px;
  width:229px;
  height:83px;
  font-size:20px;
}
#u10 {
  position:absolute;
  left:2px;
  top:28px;
  width:225px;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:93px;
}
#u11 {
  position:absolute;
  left:0px;
  top:83px;
  width:228px;
  height:93px;
  font-size:20px;
}
#u12 {
  position:absolute;
  left:2px;
  top:35px;
  width:224px;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:93px;
}
#u13 {
  position:absolute;
  left:228px;
  top:83px;
  width:228px;
  height:93px;
  font-size:20px;
}
#u14 {
  position:absolute;
  left:2px;
  top:35px;
  width:224px;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:93px;
}
#u15 {
  position:absolute;
  left:456px;
  top:83px;
  width:229px;
  height:93px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u16 {
  position:absolute;
  left:2px;
  top:32px;
  width:225px;
  word-wrap:break-word;
}
