﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:781px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u39_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u39 {
  position:absolute;
  left:6px;
  top:7px;
  width:145px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  height:73px;
}
#u41 {
  position:absolute;
  left:58px;
  top:45px;
  width:551px;
  height:73px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  word-wrap:break-word;
}
#u43_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u43 {
  position:absolute;
  left:6px;
  top:145px;
  width:145px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:50px;
  top:215px;
  width:736px;
  height:192px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:42px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:42px;
  font-size:16px;
}
#u47 {
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:42px;
}
#u48 {
  position:absolute;
  left:83px;
  top:0px;
  width:98px;
  height:42px;
  font-size:16px;
}
#u49 {
  position:absolute;
  left:2px;
  top:12px;
  width:94px;
  word-wrap:break-word;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:42px;
}
#u50 {
  position:absolute;
  left:181px;
  top:0px;
  width:477px;
  height:42px;
  font-size:16px;
}
#u51 {
  position:absolute;
  left:2px;
  top:12px;
  width:473px;
  word-wrap:break-word;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
}
#u52 {
  position:absolute;
  left:658px;
  top:0px;
  width:73px;
  height:42px;
  font-size:16px;
}
#u53 {
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  word-wrap:break-word;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:61px;
}
#u54 {
  position:absolute;
  left:0px;
  top:42px;
  width:83px;
  height:61px;
  font-size:16px;
}
#u55 {
  position:absolute;
  left:2px;
  top:21px;
  width:79px;
  word-wrap:break-word;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:61px;
}
#u56 {
  position:absolute;
  left:83px;
  top:42px;
  width:98px;
  height:61px;
  font-size:16px;
}
#u57 {
  position:absolute;
  left:2px;
  top:21px;
  width:94px;
  word-wrap:break-word;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:61px;
}
#u58 {
  position:absolute;
  left:181px;
  top:42px;
  width:477px;
  height:61px;
  font-size:16px;
}
#u59 {
  position:absolute;
  left:2px;
  top:21px;
  width:473px;
  word-wrap:break-word;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:61px;
}
#u60 {
  position:absolute;
  left:658px;
  top:42px;
  width:73px;
  height:61px;
  font-size:16px;
}
#u61 {
  position:absolute;
  left:2px;
  top:21px;
  width:69px;
  word-wrap:break-word;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:42px;
}
#u62 {
  position:absolute;
  left:0px;
  top:103px;
  width:83px;
  height:42px;
  font-size:16px;
}
#u63 {
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:42px;
}
#u64 {
  position:absolute;
  left:83px;
  top:103px;
  width:98px;
  height:42px;
  font-size:16px;
}
#u65 {
  position:absolute;
  left:2px;
  top:12px;
  width:94px;
  word-wrap:break-word;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:42px;
}
#u66 {
  position:absolute;
  left:181px;
  top:103px;
  width:477px;
  height:42px;
  font-size:16px;
}
#u67 {
  position:absolute;
  left:2px;
  top:12px;
  width:473px;
  word-wrap:break-word;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
}
#u68 {
  position:absolute;
  left:658px;
  top:103px;
  width:73px;
  height:42px;
  font-size:16px;
}
#u69 {
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  word-wrap:break-word;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:42px;
}
#u70 {
  position:absolute;
  left:0px;
  top:145px;
  width:83px;
  height:42px;
  font-size:16px;
}
#u71 {
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:42px;
}
#u72 {
  position:absolute;
  left:83px;
  top:145px;
  width:98px;
  height:42px;
  font-size:16px;
}
#u73 {
  position:absolute;
  left:2px;
  top:12px;
  width:94px;
  word-wrap:break-word;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:42px;
}
#u74 {
  position:absolute;
  left:181px;
  top:145px;
  width:477px;
  height:42px;
  font-size:16px;
}
#u75 {
  position:absolute;
  left:2px;
  top:12px;
  width:473px;
  word-wrap:break-word;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
}
#u76 {
  position:absolute;
  left:658px;
  top:145px;
  width:73px;
  height:42px;
  font-size:16px;
}
#u77 {
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  word-wrap:break-word;
}
#u78_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u78 {
  position:absolute;
  left:50px;
  top:183px;
  width:103px;
  height:22px;
  font-size:18px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
