﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:648px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1414 {
  position:absolute;
  left:18px;
  top:19px;
  width:137px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1415 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u1416_img {
  position:absolute;
  left:0px;
  top:0px;
  width:593px;
  height:76px;
}
#u1416 {
  position:absolute;
  left:55px;
  top:72px;
  width:593px;
  height:76px;
  font-size:16px;
}
#u1417 {
  position:absolute;
  left:0px;
  top:0px;
  width:593px;
  word-wrap:break-word;
}
