﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1051px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  height:25px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  height:25px;
  font-size:18px;
  line-height:20px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  word-wrap:break-word;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:708px;
}
#u124 {
  position:absolute;
  left:13px;
  top:67px;
  width:399px;
  height:708px;
}
#u125 {
  position:absolute;
  left:2px;
  top:346px;
  width:395px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:64px;
  background:inherit;
  background-color:rgba(235, 0, 40, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u126 {
  position:absolute;
  left:251px;
  top:711px;
  width:161px;
  height:64px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u127 {
  position:absolute;
  left:2px;
  top:21px;
  width:157px;
  word-wrap:break-word;
}
#u128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u128 {
  position:absolute;
  left:30px;
  top:549px;
  width:170px;
  height:37px;
}
#u129 {
  position:absolute;
  left:2px;
  top:10px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:33px;
  background:inherit;
  background-color:rgba(57, 58, 63, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u130 {
  position:absolute;
  left:60px;
  top:102px;
  width:140px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u131 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u132 {
  position:absolute;
  left:164px;
  top:109px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u133 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u134 {
  position:absolute;
  left:486px;
  top:67px;
  width:522px;
  height:38px;
  font-size:16px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  white-space:nowrap;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u136 {
  position:absolute;
  left:456px;
  top:67px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u137 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u138 {
  position:absolute;
  left:456px;
  top:153px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u139 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:565px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u140 {
  position:absolute;
  left:486px;
  top:154px;
  width:565px;
  height:38px;
  font-size:16px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:565px;
  white-space:nowrap;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u142 {
  position:absolute;
  left:456px;
  top:212px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u143 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u144 {
  position:absolute;
  left:486px;
  top:213px;
  width:197px;
  height:19px;
  font-size:16px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u146 {
  position:absolute;
  left:398px;
  top:767px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u147 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u148 {
  position:absolute;
  left:38px;
  top:555px;
  width:25px;
  height:25px;
}
#u149 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:100px;
}
#u150 {
  position:absolute;
  left:25px;
  top:592px;
  width:376px;
  height:100px;
}
#u151 {
  position:absolute;
  left:2px;
  top:42px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:18px;
}
#u152 {
  position:absolute;
  left:369px;
  top:606px;
  width:21px;
  height:18px;
}
#u153 {
  position:absolute;
  left:2px;
  top:1px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u154 {
  position:absolute;
  left:392px;
  top:681px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u155 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u156 {
  position:absolute;
  left:73px;
  top:560px;
  width:57px;
  height:16px;
}
#u157 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
