﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:775px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u37_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u39_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u39 {
  position:absolute;
  left:492px;
  top:1398px;
  width:88px;
  height:42px;
  font-size:16px;
}
#u40 {
  position:absolute;
  left:2px;
  top:12px;
  width:84px;
  word-wrap:break-word;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u41 {
  position:absolute;
  left:570px;
  top:1428px;
  width:19px;
  height:19px;
  color:#FFFFFF;
}
#u42 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:44px;
  top:70px;
  width:736px;
  height:276px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:42px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:42px;
  font-size:16px;
}
#u45 {
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:42px;
}
#u46 {
  position:absolute;
  left:83px;
  top:0px;
  width:98px;
  height:42px;
  font-size:16px;
}
#u47 {
  position:absolute;
  left:2px;
  top:12px;
  width:94px;
  word-wrap:break-word;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:42px;
}
#u48 {
  position:absolute;
  left:181px;
  top:0px;
  width:477px;
  height:42px;
  font-size:16px;
}
#u49 {
  position:absolute;
  left:2px;
  top:12px;
  width:473px;
  word-wrap:break-word;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
}
#u50 {
  position:absolute;
  left:658px;
  top:0px;
  width:73px;
  height:42px;
  font-size:16px;
}
#u51 {
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  word-wrap:break-word;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:61px;
}
#u52 {
  position:absolute;
  left:0px;
  top:42px;
  width:83px;
  height:61px;
  font-size:16px;
}
#u53 {
  position:absolute;
  left:2px;
  top:21px;
  width:79px;
  word-wrap:break-word;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:61px;
}
#u54 {
  position:absolute;
  left:83px;
  top:42px;
  width:98px;
  height:61px;
  font-size:16px;
}
#u55 {
  position:absolute;
  left:2px;
  top:21px;
  width:94px;
  word-wrap:break-word;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:61px;
}
#u56 {
  position:absolute;
  left:181px;
  top:42px;
  width:477px;
  height:61px;
  font-size:16px;
}
#u57 {
  position:absolute;
  left:2px;
  top:21px;
  width:473px;
  word-wrap:break-word;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:61px;
}
#u58 {
  position:absolute;
  left:658px;
  top:42px;
  width:73px;
  height:61px;
  font-size:16px;
}
#u59 {
  position:absolute;
  left:2px;
  top:21px;
  width:69px;
  word-wrap:break-word;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:42px;
}
#u60 {
  position:absolute;
  left:0px;
  top:103px;
  width:83px;
  height:42px;
  font-size:16px;
}
#u61 {
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:42px;
}
#u62 {
  position:absolute;
  left:83px;
  top:103px;
  width:98px;
  height:42px;
  font-size:16px;
}
#u63 {
  position:absolute;
  left:2px;
  top:12px;
  width:94px;
  word-wrap:break-word;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:42px;
}
#u64 {
  position:absolute;
  left:181px;
  top:103px;
  width:477px;
  height:42px;
  font-size:16px;
}
#u65 {
  position:absolute;
  left:2px;
  top:12px;
  width:473px;
  word-wrap:break-word;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
}
#u66 {
  position:absolute;
  left:658px;
  top:103px;
  width:73px;
  height:42px;
  font-size:16px;
}
#u67 {
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  word-wrap:break-word;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:42px;
}
#u68 {
  position:absolute;
  left:0px;
  top:145px;
  width:83px;
  height:42px;
  font-size:16px;
}
#u69 {
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:42px;
}
#u70 {
  position:absolute;
  left:83px;
  top:145px;
  width:98px;
  height:42px;
  font-size:16px;
}
#u71 {
  position:absolute;
  left:2px;
  top:12px;
  width:94px;
  word-wrap:break-word;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:42px;
}
#u72 {
  position:absolute;
  left:181px;
  top:145px;
  width:477px;
  height:42px;
  font-size:16px;
}
#u73 {
  position:absolute;
  left:2px;
  top:12px;
  width:473px;
  word-wrap:break-word;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
}
#u74 {
  position:absolute;
  left:658px;
  top:145px;
  width:73px;
  height:42px;
  font-size:16px;
}
#u75 {
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  word-wrap:break-word;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:42px;
}
#u76 {
  position:absolute;
  left:0px;
  top:187px;
  width:83px;
  height:42px;
  font-size:16px;
}
#u77 {
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:42px;
}
#u78 {
  position:absolute;
  left:83px;
  top:187px;
  width:98px;
  height:42px;
  font-size:16px;
}
#u79 {
  position:absolute;
  left:2px;
  top:12px;
  width:94px;
  word-wrap:break-word;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:42px;
}
#u80 {
  position:absolute;
  left:181px;
  top:187px;
  width:477px;
  height:42px;
  font-size:16px;
}
#u81 {
  position:absolute;
  left:2px;
  top:12px;
  width:473px;
  word-wrap:break-word;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
}
#u82 {
  position:absolute;
  left:658px;
  top:187px;
  width:73px;
  height:42px;
  font-size:16px;
}
#u83 {
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  word-wrap:break-word;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:42px;
}
#u84 {
  position:absolute;
  left:0px;
  top:229px;
  width:83px;
  height:42px;
  font-size:16px;
}
#u85 {
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:42px;
}
#u86 {
  position:absolute;
  left:83px;
  top:229px;
  width:98px;
  height:42px;
  font-size:16px;
}
#u87 {
  position:absolute;
  left:2px;
  top:12px;
  width:94px;
  word-wrap:break-word;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:42px;
}
#u88 {
  position:absolute;
  left:181px;
  top:229px;
  width:477px;
  height:42px;
  font-size:16px;
}
#u89 {
  position:absolute;
  left:2px;
  top:12px;
  width:473px;
  word-wrap:break-word;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
}
#u90 {
  position:absolute;
  left:658px;
  top:229px;
  width:73px;
  height:42px;
  font-size:16px;
}
#u91 {
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  word-wrap:break-word;
}
#u92_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u92 {
  position:absolute;
  left:44px;
  top:38px;
  width:103px;
  height:22px;
  font-size:18px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
