﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
  background:inherit;
  background-color:rgba(51, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u868 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u869 {
  position:absolute;
  left:2px;
  top:17px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u870 {
  position:absolute;
  left:19px;
  top:7px;
  width:217px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u871 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u872 {
  position:absolute;
  left:18px;
  top:82px;
  width:731px;
  height:274px;
}
#u873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:35px;
}
#u873 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:35px;
  font-size:16px;
  color:#FFFFFF;
}
#u874 {
  position:absolute;
  left:10px;
  top:8px;
  width:192px;
  word-wrap:break-word;
}
#u875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:35px;
}
#u875 {
  position:absolute;
  left:212px;
  top:0px;
  width:392px;
  height:35px;
  font-size:16px;
  color:#FFFFFF;
}
#u876 {
  position:absolute;
  left:10px;
  top:8px;
  width:372px;
  word-wrap:break-word;
}
#u877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:35px;
}
#u877 {
  position:absolute;
  left:604px;
  top:0px;
  width:122px;
  height:35px;
  font-size:16px;
  color:#FFFFFF;
}
#u878 {
  position:absolute;
  left:10px;
  top:8px;
  width:102px;
  word-wrap:break-word;
}
#u879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:38px;
}
#u879 {
  position:absolute;
  left:0px;
  top:35px;
  width:212px;
  height:38px;
  font-size:16px;
}
#u880 {
  position:absolute;
  left:10px;
  top:11px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:38px;
}
#u881 {
  position:absolute;
  left:212px;
  top:35px;
  width:392px;
  height:38px;
  font-size:16px;
  text-align:left;
}
#u882 {
  position:absolute;
  left:10px;
  top:11px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:38px;
}
#u883 {
  position:absolute;
  left:604px;
  top:35px;
  width:122px;
  height:38px;
  font-size:16px;
  text-align:left;
}
#u884 {
  position:absolute;
  left:10px;
  top:11px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:33px;
}
#u885 {
  position:absolute;
  left:0px;
  top:73px;
  width:212px;
  height:33px;
  font-size:16px;
}
#u886 {
  position:absolute;
  left:10px;
  top:8px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:33px;
}
#u887 {
  position:absolute;
  left:212px;
  top:73px;
  width:392px;
  height:33px;
  font-size:16px;
  text-align:left;
}
#u888 {
  position:absolute;
  left:10px;
  top:8px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:33px;
}
#u889 {
  position:absolute;
  left:604px;
  top:73px;
  width:122px;
  height:33px;
  font-size:16px;
  text-align:left;
}
#u890 {
  position:absolute;
  left:10px;
  top:8px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:32px;
}
#u891 {
  position:absolute;
  left:0px;
  top:106px;
  width:212px;
  height:32px;
  font-size:16px;
}
#u892 {
  position:absolute;
  left:10px;
  top:8px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:32px;
}
#u893 {
  position:absolute;
  left:212px;
  top:106px;
  width:392px;
  height:32px;
  font-size:16px;
  text-align:left;
}
#u894 {
  position:absolute;
  left:10px;
  top:8px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:32px;
}
#u895 {
  position:absolute;
  left:604px;
  top:106px;
  width:122px;
  height:32px;
  font-size:16px;
}
#u896 {
  position:absolute;
  left:10px;
  top:8px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:31px;
}
#u897 {
  position:absolute;
  left:0px;
  top:138px;
  width:212px;
  height:31px;
  font-size:16px;
}
#u898 {
  position:absolute;
  left:10px;
  top:8px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:31px;
}
#u899 {
  position:absolute;
  left:212px;
  top:138px;
  width:392px;
  height:31px;
  font-size:16px;
  text-align:left;
}
#u900 {
  position:absolute;
  left:10px;
  top:8px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:31px;
}
#u901 {
  position:absolute;
  left:604px;
  top:138px;
  width:122px;
  height:31px;
  font-size:16px;
}
#u902 {
  position:absolute;
  left:10px;
  top:8px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:38px;
}
#u903 {
  position:absolute;
  left:0px;
  top:169px;
  width:212px;
  height:38px;
  font-size:16px;
}
#u904 {
  position:absolute;
  left:10px;
  top:11px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:38px;
}
#u905 {
  position:absolute;
  left:212px;
  top:169px;
  width:392px;
  height:38px;
  font-size:16px;
  text-align:left;
}
#u906 {
  position:absolute;
  left:10px;
  top:11px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:38px;
}
#u907 {
  position:absolute;
  left:604px;
  top:169px;
  width:122px;
  height:38px;
  font-size:16px;
}
#u908 {
  position:absolute;
  left:10px;
  top:11px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:31px;
}
#u909 {
  position:absolute;
  left:0px;
  top:207px;
  width:212px;
  height:31px;
  font-size:16px;
}
#u910 {
  position:absolute;
  left:10px;
  top:8px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:31px;
}
#u911 {
  position:absolute;
  left:212px;
  top:207px;
  width:392px;
  height:31px;
  font-size:16px;
  text-align:left;
}
#u912 {
  position:absolute;
  left:10px;
  top:8px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:31px;
}
#u913 {
  position:absolute;
  left:604px;
  top:207px;
  width:122px;
  height:31px;
  font-size:16px;
}
#u914 {
  position:absolute;
  left:10px;
  top:8px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:31px;
}
#u915 {
  position:absolute;
  left:0px;
  top:238px;
  width:212px;
  height:31px;
  font-size:16px;
}
#u916 {
  position:absolute;
  left:10px;
  top:8px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:31px;
}
#u917 {
  position:absolute;
  left:212px;
  top:238px;
  width:392px;
  height:31px;
  font-size:16px;
  text-align:left;
}
#u918 {
  position:absolute;
  left:10px;
  top:8px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:31px;
}
#u919 {
  position:absolute;
  left:604px;
  top:238px;
  width:122px;
  height:31px;
  font-size:16px;
}
#u920 {
  position:absolute;
  left:10px;
  top:8px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:7px;
  background:inherit;
  background-color:rgba(51, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u922 {
  position:absolute;
  left:0px;
  top:412px;
  width:1200px;
  height:7px;
}
#u923 {
  position:absolute;
  left:2px;
  top:-4px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u924 {
  position:absolute;
  left:538px;
  top:405px;
  width:125px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u925 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
