﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
  background:inherit;
  background-color:rgba(51, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u254 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u255 {
  position:absolute;
  left:2px;
  top:17px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u256 {
  position:absolute;
  left:19px;
  top:7px;
  width:123px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u257 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u258 {
  position:absolute;
  left:18px;
  top:73px;
  width:731px;
  height:682px;
}
#u259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:35px;
}
#u259 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:35px;
  font-size:16px;
  color:#FFFFFF;
}
#u260 {
  position:absolute;
  left:10px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:35px;
}
#u261 {
  position:absolute;
  left:117px;
  top:0px;
  width:202px;
  height:35px;
  font-size:16px;
  color:#FFFFFF;
}
#u262 {
  position:absolute;
  left:10px;
  top:8px;
  width:182px;
  word-wrap:break-word;
}
#u263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:35px;
}
#u263 {
  position:absolute;
  left:319px;
  top:0px;
  width:407px;
  height:35px;
  font-size:16px;
  color:#FFFFFF;
}
#u264 {
  position:absolute;
  left:10px;
  top:8px;
  width:387px;
  word-wrap:break-word;
}
#u265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:42px;
}
#u265 {
  position:absolute;
  left:0px;
  top:35px;
  width:117px;
  height:42px;
  font-size:16px;
}
#u266 {
  position:absolute;
  left:10px;
  top:13px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:42px;
}
#u267 {
  position:absolute;
  left:117px;
  top:35px;
  width:202px;
  height:42px;
  font-size:16px;
}
#u268 {
  position:absolute;
  left:10px;
  top:13px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:42px;
}
#u269 {
  position:absolute;
  left:319px;
  top:35px;
  width:407px;
  height:42px;
  font-size:16px;
  text-align:left;
}
#u270 {
  position:absolute;
  left:10px;
  top:13px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:42px;
}
#u271 {
  position:absolute;
  left:0px;
  top:77px;
  width:117px;
  height:42px;
  font-size:16px;
}
#u272 {
  position:absolute;
  left:10px;
  top:13px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:42px;
}
#u273 {
  position:absolute;
  left:117px;
  top:77px;
  width:202px;
  height:42px;
  font-size:16px;
}
#u274 {
  position:absolute;
  left:10px;
  top:13px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:42px;
}
#u275 {
  position:absolute;
  left:319px;
  top:77px;
  width:407px;
  height:42px;
  font-size:16px;
  text-align:left;
}
#u276 {
  position:absolute;
  left:10px;
  top:13px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:31px;
}
#u277 {
  position:absolute;
  left:0px;
  top:119px;
  width:117px;
  height:31px;
  font-size:16px;
}
#u278 {
  position:absolute;
  left:10px;
  top:8px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:31px;
}
#u279 {
  position:absolute;
  left:117px;
  top:119px;
  width:202px;
  height:31px;
  font-size:16px;
}
#u280 {
  position:absolute;
  left:10px;
  top:8px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:31px;
}
#u281 {
  position:absolute;
  left:319px;
  top:119px;
  width:407px;
  height:31px;
  font-size:16px;
}
#u282 {
  position:absolute;
  left:10px;
  top:8px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:31px;
}
#u283 {
  position:absolute;
  left:0px;
  top:150px;
  width:117px;
  height:31px;
  font-size:16px;
}
#u284 {
  position:absolute;
  left:10px;
  top:8px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:31px;
}
#u285 {
  position:absolute;
  left:117px;
  top:150px;
  width:202px;
  height:31px;
  font-size:16px;
}
#u286 {
  position:absolute;
  left:10px;
  top:8px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:31px;
}
#u287 {
  position:absolute;
  left:319px;
  top:150px;
  width:407px;
  height:31px;
  font-size:16px;
}
#u288 {
  position:absolute;
  left:10px;
  top:8px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:31px;
}
#u289 {
  position:absolute;
  left:0px;
  top:181px;
  width:117px;
  height:31px;
  font-size:16px;
}
#u290 {
  position:absolute;
  left:10px;
  top:8px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:31px;
}
#u291 {
  position:absolute;
  left:117px;
  top:181px;
  width:202px;
  height:31px;
  font-size:16px;
}
#u292 {
  position:absolute;
  left:10px;
  top:8px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:31px;
}
#u293 {
  position:absolute;
  left:319px;
  top:181px;
  width:407px;
  height:31px;
  font-size:16px;
}
#u294 {
  position:absolute;
  left:10px;
  top:8px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:31px;
}
#u295 {
  position:absolute;
  left:0px;
  top:212px;
  width:117px;
  height:31px;
  font-size:16px;
}
#u296 {
  position:absolute;
  left:10px;
  top:8px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:31px;
}
#u297 {
  position:absolute;
  left:117px;
  top:212px;
  width:202px;
  height:31px;
  font-size:16px;
}
#u298 {
  position:absolute;
  left:10px;
  top:8px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:31px;
}
#u299 {
  position:absolute;
  left:319px;
  top:212px;
  width:407px;
  height:31px;
  font-size:16px;
}
#u300 {
  position:absolute;
  left:10px;
  top:8px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:31px;
}
#u301 {
  position:absolute;
  left:0px;
  top:243px;
  width:117px;
  height:31px;
  font-size:16px;
}
#u302 {
  position:absolute;
  left:10px;
  top:8px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:31px;
}
#u303 {
  position:absolute;
  left:117px;
  top:243px;
  width:202px;
  height:31px;
  font-size:16px;
}
#u304 {
  position:absolute;
  left:10px;
  top:8px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:31px;
}
#u305 {
  position:absolute;
  left:319px;
  top:243px;
  width:407px;
  height:31px;
  font-size:16px;
}
#u306 {
  position:absolute;
  left:10px;
  top:8px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:31px;
}
#u307 {
  position:absolute;
  left:0px;
  top:274px;
  width:117px;
  height:31px;
  font-size:16px;
}
#u308 {
  position:absolute;
  left:10px;
  top:8px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:31px;
}
#u309 {
  position:absolute;
  left:117px;
  top:274px;
  width:202px;
  height:31px;
  font-size:16px;
}
#u310 {
  position:absolute;
  left:10px;
  top:8px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:31px;
}
#u311 {
  position:absolute;
  left:319px;
  top:274px;
  width:407px;
  height:31px;
  font-size:16px;
}
#u312 {
  position:absolute;
  left:10px;
  top:8px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:31px;
}
#u313 {
  position:absolute;
  left:0px;
  top:305px;
  width:117px;
  height:31px;
  font-size:16px;
}
#u314 {
  position:absolute;
  left:10px;
  top:8px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:31px;
}
#u315 {
  position:absolute;
  left:117px;
  top:305px;
  width:202px;
  height:31px;
  font-size:16px;
}
#u316 {
  position:absolute;
  left:10px;
  top:8px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:31px;
}
#u317 {
  position:absolute;
  left:319px;
  top:305px;
  width:407px;
  height:31px;
  font-size:16px;
}
#u318 {
  position:absolute;
  left:10px;
  top:8px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:31px;
}
#u319 {
  position:absolute;
  left:0px;
  top:336px;
  width:117px;
  height:31px;
  font-size:16px;
}
#u320 {
  position:absolute;
  left:10px;
  top:8px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:31px;
}
#u321 {
  position:absolute;
  left:117px;
  top:336px;
  width:202px;
  height:31px;
  font-size:16px;
}
#u322 {
  position:absolute;
  left:10px;
  top:8px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:31px;
}
#u323 {
  position:absolute;
  left:319px;
  top:336px;
  width:407px;
  height:31px;
  font-size:16px;
}
#u324 {
  position:absolute;
  left:10px;
  top:8px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:31px;
}
#u325 {
  position:absolute;
  left:0px;
  top:367px;
  width:117px;
  height:31px;
  font-size:16px;
}
#u326 {
  position:absolute;
  left:10px;
  top:8px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:31px;
}
#u327 {
  position:absolute;
  left:117px;
  top:367px;
  width:202px;
  height:31px;
  font-size:16px;
}
#u328 {
  position:absolute;
  left:10px;
  top:8px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:31px;
}
#u329 {
  position:absolute;
  left:319px;
  top:367px;
  width:407px;
  height:31px;
  font-size:16px;
}
#u330 {
  position:absolute;
  left:10px;
  top:8px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:31px;
}
#u331 {
  position:absolute;
  left:0px;
  top:398px;
  width:117px;
  height:31px;
  font-size:16px;
}
#u332 {
  position:absolute;
  left:10px;
  top:8px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:31px;
}
#u333 {
  position:absolute;
  left:117px;
  top:398px;
  width:202px;
  height:31px;
  font-size:16px;
}
#u334 {
  position:absolute;
  left:10px;
  top:8px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:31px;
}
#u335 {
  position:absolute;
  left:319px;
  top:398px;
  width:407px;
  height:31px;
  font-size:16px;
}
#u336 {
  position:absolute;
  left:10px;
  top:8px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:31px;
}
#u337 {
  position:absolute;
  left:0px;
  top:429px;
  width:117px;
  height:31px;
  font-size:16px;
}
#u338 {
  position:absolute;
  left:10px;
  top:8px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:31px;
}
#u339 {
  position:absolute;
  left:117px;
  top:429px;
  width:202px;
  height:31px;
  font-size:16px;
}
#u340 {
  position:absolute;
  left:10px;
  top:8px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:31px;
}
#u341 {
  position:absolute;
  left:319px;
  top:429px;
  width:407px;
  height:31px;
  font-size:16px;
}
#u342 {
  position:absolute;
  left:10px;
  top:8px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u343_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:31px;
}
#u343 {
  position:absolute;
  left:0px;
  top:460px;
  width:117px;
  height:31px;
  font-size:16px;
}
#u344 {
  position:absolute;
  left:10px;
  top:8px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u345_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:31px;
}
#u345 {
  position:absolute;
  left:117px;
  top:460px;
  width:202px;
  height:31px;
  font-size:16px;
}
#u346 {
  position:absolute;
  left:10px;
  top:8px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u347_img {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:31px;
}
#u347 {
  position:absolute;
  left:319px;
  top:460px;
  width:407px;
  height:31px;
  font-size:16px;
}
#u348 {
  position:absolute;
  left:10px;
  top:8px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u349_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:31px;
}
#u349 {
  position:absolute;
  left:0px;
  top:491px;
  width:117px;
  height:31px;
  font-size:16px;
}
#u350 {
  position:absolute;
  left:10px;
  top:8px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u351_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:31px;
}
#u351 {
  position:absolute;
  left:117px;
  top:491px;
  width:202px;
  height:31px;
  font-size:16px;
}
#u352 {
  position:absolute;
  left:10px;
  top:8px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:31px;
}
#u353 {
  position:absolute;
  left:319px;
  top:491px;
  width:407px;
  height:31px;
  font-size:16px;
}
#u354 {
  position:absolute;
  left:10px;
  top:8px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:31px;
}
#u355 {
  position:absolute;
  left:0px;
  top:522px;
  width:117px;
  height:31px;
  font-size:16px;
}
#u356 {
  position:absolute;
  left:10px;
  top:8px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u357_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:31px;
}
#u357 {
  position:absolute;
  left:117px;
  top:522px;
  width:202px;
  height:31px;
  font-size:16px;
}
#u358 {
  position:absolute;
  left:10px;
  top:8px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u359_img {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:31px;
}
#u359 {
  position:absolute;
  left:319px;
  top:522px;
  width:407px;
  height:31px;
  font-size:16px;
}
#u360 {
  position:absolute;
  left:10px;
  top:8px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u361_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:31px;
}
#u361 {
  position:absolute;
  left:0px;
  top:553px;
  width:117px;
  height:31px;
  font-size:16px;
}
#u362 {
  position:absolute;
  left:10px;
  top:8px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u363_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:31px;
}
#u363 {
  position:absolute;
  left:117px;
  top:553px;
  width:202px;
  height:31px;
  font-size:16px;
}
#u364 {
  position:absolute;
  left:10px;
  top:8px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:31px;
}
#u365 {
  position:absolute;
  left:319px;
  top:553px;
  width:407px;
  height:31px;
  font-size:16px;
}
#u366 {
  position:absolute;
  left:10px;
  top:8px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u367_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:31px;
}
#u367 {
  position:absolute;
  left:0px;
  top:584px;
  width:117px;
  height:31px;
  font-size:16px;
}
#u368 {
  position:absolute;
  left:10px;
  top:8px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u369_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:31px;
}
#u369 {
  position:absolute;
  left:117px;
  top:584px;
  width:202px;
  height:31px;
  font-size:16px;
}
#u370 {
  position:absolute;
  left:10px;
  top:8px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:31px;
}
#u371 {
  position:absolute;
  left:319px;
  top:584px;
  width:407px;
  height:31px;
  font-size:16px;
}
#u372 {
  position:absolute;
  left:10px;
  top:8px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:31px;
}
#u373 {
  position:absolute;
  left:0px;
  top:615px;
  width:117px;
  height:31px;
  font-size:16px;
}
#u374 {
  position:absolute;
  left:10px;
  top:8px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u375_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:31px;
}
#u375 {
  position:absolute;
  left:117px;
  top:615px;
  width:202px;
  height:31px;
  font-size:16px;
}
#u376 {
  position:absolute;
  left:10px;
  top:8px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u377_img {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:31px;
}
#u377 {
  position:absolute;
  left:319px;
  top:615px;
  width:407px;
  height:31px;
  font-size:16px;
}
#u378 {
  position:absolute;
  left:10px;
  top:8px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u379_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:31px;
}
#u379 {
  position:absolute;
  left:0px;
  top:646px;
  width:117px;
  height:31px;
  font-size:16px;
}
#u380 {
  position:absolute;
  left:10px;
  top:8px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u381_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:31px;
}
#u381 {
  position:absolute;
  left:117px;
  top:646px;
  width:202px;
  height:31px;
  font-size:16px;
}
#u382 {
  position:absolute;
  left:10px;
  top:8px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u383_img {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:31px;
}
#u383 {
  position:absolute;
  left:319px;
  top:646px;
  width:407px;
  height:31px;
  font-size:16px;
}
#u384 {
  position:absolute;
  left:10px;
  top:8px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
