﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:935px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2765_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2765 {
  position:absolute;
  left:50px;
  top:26px;
  width:97px;
  height:21px;
  font-size:16px;
}
#u2766 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2767_img {
  position:absolute;
  left:0px;
  top:0px;
  width:752px;
  height:519px;
}
#u2767 {
  position:absolute;
  left:50px;
  top:57px;
  width:752px;
  height:519px;
}
#u2768 {
  position:absolute;
  left:2px;
  top:252px;
  width:748px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2769_img {
  position:absolute;
  left:0px;
  top:0px;
  width:871px;
  height:280px;
}
#u2769 {
  position:absolute;
  left:64px;
  top:586px;
  width:871px;
  height:280px;
}
#u2770 {
  position:absolute;
  left:2px;
  top:132px;
  width:867px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2771_img {
  position:absolute;
  left:0px;
  top:0px;
  width:605px;
  height:325px;
}
#u2771 {
  position:absolute;
  left:67px;
  top:876px;
  width:605px;
  height:325px;
}
#u2772 {
  position:absolute;
  left:2px;
  top:154px;
  width:601px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2773_img {
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  height:435px;
}
#u2773 {
  position:absolute;
  left:64px;
  top:1211px;
  width:595px;
  height:435px;
}
#u2774 {
  position:absolute;
  left:2px;
  top:210px;
  width:591px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2775_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:163px;
}
#u2775 {
  position:absolute;
  left:56px;
  top:1656px;
  width:424px;
  height:163px;
}
#u2776 {
  position:absolute;
  left:2px;
  top:74px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2777_img {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:334px;
}
#u2777 {
  position:absolute;
  left:64px;
  top:1829px;
  width:416px;
  height:334px;
}
#u2778 {
  position:absolute;
  left:2px;
  top:159px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2779_img {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:305px;
}
#u2779 {
  position:absolute;
  left:67px;
  top:2180px;
  width:405px;
  height:305px;
}
#u2780 {
  position:absolute;
  left:2px;
  top:144px;
  width:401px;
  visibility:hidden;
  word-wrap:break-word;
}
