﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1122px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u33_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u33 {
  position:absolute;
  left:6px;
  top:7px;
  width:145px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1064px;
  height:94px;
}
#u35 {
  position:absolute;
  left:58px;
  top:45px;
  width:1064px;
  height:94px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:1064px;
  word-wrap:break-word;
}
#u37_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u37 {
  position:absolute;
  left:6px;
  top:139px;
  width:145px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1064px;
  height:34px;
}
#u39 {
  position:absolute;
  left:58px;
  top:177px;
  width:1064px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:1064px;
  word-wrap:break-word;
}
#u41_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u41 {
  position:absolute;
  left:6px;
  top:211px;
  width:145px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:58px;
  top:264px;
  width:523px;
  height:134px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:23px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:23px;
  font-size:16px;
}
#u45 {
  position:absolute;
  left:2px;
  top:2px;
  width:109px;
  word-wrap:break-word;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:23px;
}
#u46 {
  position:absolute;
  left:113px;
  top:0px;
  width:405px;
  height:23px;
  font-size:16px;
}
#u47 {
  position:absolute;
  left:2px;
  top:2px;
  width:401px;
  word-wrap:break-word;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:32px;
}
#u48 {
  position:absolute;
  left:0px;
  top:23px;
  width:113px;
  height:32px;
  font-size:16px;
}
#u49 {
  position:absolute;
  left:2px;
  top:6px;
  width:109px;
  word-wrap:break-word;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:32px;
}
#u50 {
  position:absolute;
  left:113px;
  top:23px;
  width:405px;
  height:32px;
  font-size:16px;
}
#u51 {
  position:absolute;
  left:2px;
  top:6px;
  width:401px;
  word-wrap:break-word;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:32px;
}
#u52 {
  position:absolute;
  left:0px;
  top:55px;
  width:113px;
  height:32px;
  font-size:16px;
}
#u53 {
  position:absolute;
  left:2px;
  top:6px;
  width:109px;
  word-wrap:break-word;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:32px;
}
#u54 {
  position:absolute;
  left:113px;
  top:55px;
  width:405px;
  height:32px;
  font-size:16px;
}
#u55 {
  position:absolute;
  left:2px;
  top:6px;
  width:401px;
  word-wrap:break-word;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:42px;
}
#u56 {
  position:absolute;
  left:0px;
  top:87px;
  width:113px;
  height:42px;
  font-size:16px;
}
#u57 {
  position:absolute;
  left:2px;
  top:12px;
  width:109px;
  word-wrap:break-word;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:42px;
}
#u58 {
  position:absolute;
  left:113px;
  top:87px;
  width:405px;
  height:42px;
  font-size:16px;
}
#u59 {
  position:absolute;
  left:2px;
  top:12px;
  width:401px;
  word-wrap:break-word;
}
