﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1752px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  height:25px;
}
#u1153 {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  height:25px;
  font-size:18px;
  line-height:20px;
}
#u1154 {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  word-wrap:break-word;
}
#u1155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:759px;
  background:inherit;
  background-color:rgba(229, 229, 229, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1155 {
  position:absolute;
  left:30px;
  top:46px;
  width:473px;
  height:759px;
}
#u1156 {
  position:absolute;
  left:2px;
  top:372px;
  width:469px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1157 {
  position:absolute;
  left:32px;
  top:47px;
  width:469px;
  height:43px;
}
#u1158 {
  position:absolute;
  left:2px;
  top:14px;
  width:465px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:600px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1159 {
  position:absolute;
  left:33px;
  top:88px;
  width:469px;
  height:600px;
}
#u1160 {
  position:absolute;
  left:2px;
  top:292px;
  width:465px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1161_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:31px;
  height:21px;
}
#u1161p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:22px;
  height:1px;
}
#u1161p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:33px;
  height:21px;
}
#u1161p001 {
  position:absolute;
  left:-8px;
  top:-11px;
  width:22px;
  height:22px;
}
#u1161p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:33px;
  height:42px;
}
#u1161p002 {
  position:absolute;
  left:19px;
  top:0px;
  width:2px;
  height:1px;
}
#u1161p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:13px;
  height:21px;
}
#u1161.compound {
  width:0px;
  height:0px;
}
#u1161 {
  position:absolute;
  left:41px;
  top:63px;
  width:20px;
  height:1px;
  font-size:14px;
}
#u1162 {
  position:absolute;
  left:2px;
  top:-8px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1163 {
  position:absolute;
  left:230px;
  top:53px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u1164 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:128px;
}
#u1165 {
  position:absolute;
  left:50px;
  top:140px;
  width:125px;
  height:127px;
}
#u1166 {
  position:absolute;
  left:2px;
  top:56px;
  width:121px;
  word-wrap:break-word;
}
#u1167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1167 {
  position:absolute;
  left:189px;
  top:206px;
  width:218px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1168 {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  white-space:nowrap;
}
#u1169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:2px;
}
#u1169 {
  position:absolute;
  left:41px;
  top:366px;
  width:450px;
  height:1px;
}
#u1170 {
  position:absolute;
  left:2px;
  top:-8px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:2px;
}
#u1171 {
  position:absolute;
  left:42px;
  top:415px;
  width:450px;
  height:1px;
}
#u1172 {
  position:absolute;
  left:2px;
  top:-8px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:2px;
}
#u1173 {
  position:absolute;
  left:42px;
  top:462px;
  width:450px;
  height:1px;
}
#u1174 {
  position:absolute;
  left:2px;
  top:-8px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1175 {
  position:absolute;
  left:50px;
  top:383px;
  width:91px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1176 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u1177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1177 {
  position:absolute;
  left:189px;
  top:383px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u1178 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:2px;
}
#u1179 {
  position:absolute;
  left:41px;
  top:317px;
  width:450px;
  height:1px;
}
#u1180 {
  position:absolute;
  left:2px;
  top:-8px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1181 {
  position:absolute;
  left:50px;
  top:334px;
  width:91px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1182 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u1183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1183 {
  position:absolute;
  left:189px;
  top:334px;
  width:253px;
  height:19px;
  font-size:16px;
}
#u1184 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u1185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1185 {
  position:absolute;
  left:50px;
  top:473px;
  width:55px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1186 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u1187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1187 {
  position:absolute;
  left:189px;
  top:476px;
  width:44px;
  height:19px;
  font-size:16px;
}
#u1188 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u1189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:2px;
}
#u1189 {
  position:absolute;
  left:42px;
  top:505px;
  width:450px;
  height:1px;
}
#u1190 {
  position:absolute;
  left:2px;
  top:-8px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1191 {
  position:absolute;
  left:50px;
  top:430px;
  width:91px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1192 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u1193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1193 {
  position:absolute;
  left:189px;
  top:430px;
  width:157px;
  height:19px;
  font-size:16px;
}
#u1194 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u1195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1195 {
  position:absolute;
  left:189px;
  top:160px;
  width:97px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1196 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1197_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u1197 {
  position:absolute;
  left:471px;
  top:333px;
  width:20px;
  height:20px;
}
#u1198 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1199_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u1199 {
  position:absolute;
  left:471px;
  top:383px;
  width:20px;
  height:20px;
}
#u1200 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:44px;
  background:inherit;
  background-color:rgba(64, 206, 221, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1201 {
  position:absolute;
  left:273px;
  top:628px;
  width:113px;
  height:44px;
  font-size:18px;
  color:#FFFFFF;
}
#u1202 {
  position:absolute;
  left:2px;
  top:11px;
  width:109px;
  word-wrap:break-word;
}
#u1203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:44px;
  background:inherit;
  background-color:rgba(64, 206, 221, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1203 {
  position:absolute;
  left:131px;
  top:628px;
  width:118px;
  height:44px;
  font-size:18px;
  color:#FFFFFF;
}
#u1204 {
  position:absolute;
  left:2px;
  top:11px;
  width:114px;
  word-wrap:break-word;
}
#u1205_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u1205 {
  position:absolute;
  left:1082px;
  top:92px;
  width:20px;
  height:20px;
}
#u1206 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1207 {
  position:absolute;
  left:1119px;
  top:92px;
  width:235px;
  height:19px;
  font-size:16px;
}
#u1208 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
#u1209_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u1209 {
  position:absolute;
  left:1082px;
  top:135px;
  width:20px;
  height:20px;
}
#u1210 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1211 {
  position:absolute;
  left:1119px;
  top:135px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u1212 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1213_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u1213 {
  position:absolute;
  left:296px;
  top:160px;
  width:20px;
  height:20px;
}
#u1214 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1215_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u1215 {
  position:absolute;
  left:417px;
  top:206px;
  width:20px;
  height:20px;
}
#u1216 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1217_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u1217 {
  position:absolute;
  left:1082px;
  top:182px;
  width:20px;
  height:20px;
}
#u1218 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1219 {
  position:absolute;
  left:1119px;
  top:182px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u1220 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1221_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u1221 {
  position:absolute;
  left:1082px;
  top:225px;
  width:20px;
  height:20px;
}
#u1222 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1223 {
  position:absolute;
  left:1119px;
  top:218px;
  width:542px;
  height:95px;
  font-size:16px;
}
#u1224 {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  white-space:nowrap;
}
#u1225_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u1225 {
  position:absolute;
  left:229px;
  top:661px;
  width:20px;
  height:20px;
}
#u1226 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1227_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u1227 {
  position:absolute;
  left:366px;
  top:661px;
  width:20px;
  height:20px;
}
#u1228 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1229_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u1229 {
  position:absolute;
  left:1082px;
  top:319px;
  width:20px;
  height:20px;
}
#u1230 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:633px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1231 {
  position:absolute;
  left:1119px;
  top:319px;
  width:633px;
  height:38px;
  font-size:16px;
}
#u1232 {
  position:absolute;
  left:0px;
  top:0px;
  width:633px;
  white-space:nowrap;
}
#u1233 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:276px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1234 {
  position:absolute;
  left:573px;
  top:113px;
  width:430px;
  height:276px;
}
#u1235 {
  position:absolute;
  left:2px;
  top:130px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:2px;
}
#u1236 {
  position:absolute;
  left:573px;
  top:301px;
  width:430px;
  height:1px;
}
#u1237 {
  position:absolute;
  left:2px;
  top:-8px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:84px;
}
#u1238 {
  position:absolute;
  left:778px;
  top:306px;
  width:1px;
  height:83px;
}
#u1239 {
  position:absolute;
  left:2px;
  top:34px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:2px;
}
#u1240 {
  position:absolute;
  left:573px;
  top:301px;
  width:430px;
  height:1px;
}
#u1241 {
  position:absolute;
  left:2px;
  top:-8px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:84px;
}
#u1242 {
  position:absolute;
  left:778px;
  top:306px;
  width:1px;
  height:83px;
}
#u1243 {
  position:absolute;
  left:2px;
  top:34px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#0099FF;
  text-align:center;
}
#u1244 {
  position:absolute;
  left:614px;
  top:335px;
  width:131px;
  height:26px;
  font-size:22px;
  color:#0099FF;
  text-align:center;
}
#u1245 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u1246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#0099FF;
  text-align:center;
}
#u1246 {
  position:absolute;
  left:829px;
  top:335px;
  width:131px;
  height:26px;
  font-size:22px;
  color:#0099FF;
  text-align:center;
}
#u1247 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u1248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  text-align:center;
}
#u1248 {
  position:absolute;
  left:708px;
  top:133px;
  width:157px;
  height:50px;
  font-size:22px;
  text-align:center;
}
#u1249 {
  position:absolute;
  left:0px;
  top:12px;
  width:157px;
  word-wrap:break-word;
}
#u1250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
}
#u1250 {
  position:absolute;
  left:593px;
  top:199px;
  width:380px;
  height:74px;
  font-size:22px;
}
#u1251 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u1252_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u1252 {
  position:absolute;
  left:1082px;
  top:373px;
  width:20px;
  height:20px;
}
#u1253 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:619px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1254 {
  position:absolute;
  left:1119px;
  top:373px;
  width:619px;
  height:38px;
  font-size:16px;
}
#u1255 {
  position:absolute;
  left:0px;
  top:0px;
  width:619px;
  white-space:nowrap;
}
