﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1459px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u252 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u253 {
  position:absolute;
  left:2px;
  top:532px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:675px;
  background:inherit;
  background-color:rgba(255, 0, 0, 0.109803921568627);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u254 {
  position:absolute;
  left:-659px;
  top:13px;
  width:384px;
  height:675px;
}
#u255 {
  position:absolute;
  left:2px;
  top:330px;
  width:380px;
  visibility:hidden;
  word-wrap:break-word;
}
#u256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u256 {
  position:absolute;
  left:-647px;
  top:29px;
  width:360px;
  height:640px;
}
#u257 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u258_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:2770px;
  height:10px;
}
#u258 {
  position:absolute;
  left:-647px;
  top:-79px;
  width:2765px;
  height:5px;
}
#u259 {
  position:absolute;
  left:2px;
  top:-6px;
  width:2761px;
  visibility:hidden;
  word-wrap:break-word;
}
#u260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u260 {
  position:absolute;
  left:-647px;
  top:-126px;
  width:97px;
  height:37px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u261 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:675px;
  background:inherit;
  background-color:rgba(255, 0, 0, 0.109803921568627);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u262 {
  position:absolute;
  left:503px;
  top:278px;
  width:384px;
  height:675px;
}
#u263 {
  position:absolute;
  left:2px;
  top:330px;
  width:380px;
  visibility:hidden;
  word-wrap:break-word;
}
#u264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:675px;
  background:inherit;
  background-color:rgba(255, 0, 0, 0.109803921568627);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u264 {
  position:absolute;
  left:53px;
  top:278px;
  width:384px;
  height:675px;
}
#u265 {
  position:absolute;
  left:2px;
  top:330px;
  width:380px;
  visibility:hidden;
  word-wrap:break-word;
}
#u266_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:1860px;
  height:10px;
}
#u266 {
  position:absolute;
  left:65px;
  top:117px;
  width:1855px;
  height:5px;
}
#u267 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1851px;
  visibility:hidden;
  word-wrap:break-word;
}
#u268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u268 {
  position:absolute;
  left:65px;
  top:70px;
  width:97px;
  height:45px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u269 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:849px;
  height:129px;
}
#u270 {
  position:absolute;
  left:953px;
  top:664px;
  width:849px;
  height:129px;
  font-size:20px;
  color:#1E1E1E;
}
#u271 {
  position:absolute;
  left:0px;
  top:0px;
  width:849px;
  word-wrap:break-word;
}
#u272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u272 {
  position:absolute;
  left:149px;
  top:223px;
  width:193px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u273 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u274 {
  position:absolute;
  left:599px;
  top:223px;
  width:225px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u275 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u276 {
  position:absolute;
  left:65px;
  top:296px;
  width:360px;
  height:640px;
}
#u277 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u278 {
  position:absolute;
  left:515px;
  top:296px;
  width:360px;
  height:640px;
}
#u279 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
