﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:853px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u71_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u71 {
  position:absolute;
  left:18px;
  top:19px;
  width:97px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u73_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u73 {
  position:absolute;
  left:18px;
  top:57px;
  width:83px;
  height:21px;
  font-size:16px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u75_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:25px;
  background:inherit;
  background-color:rgba(27, 161, 226, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u75 {
  position:absolute;
  left:78px;
  top:179px;
  width:159px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u76 {
  position:absolute;
  left:2px;
  top:4px;
  width:155px;
  word-wrap:break-word;
}
#u77_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:84px;
  background:inherit;
  background-color:rgba(27, 161, 226, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u77 {
  position:absolute;
  left:78px;
  top:203px;
  width:159px;
  height:84px;
  color:#FFFFFF;
}
#u78 {
  position:absolute;
  left:2px;
  top:26px;
  width:155px;
  word-wrap:break-word;
}
#u79_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:24px;
  background:inherit;
  background-color:rgba(27, 161, 226, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u79 {
  position:absolute;
  left:78px;
  top:286px;
  width:159px;
  height:24px;
  font-size:12px;
  color:#FFFFFF;
}
#u80 {
  position:absolute;
  left:2px;
  top:4px;
  width:155px;
  word-wrap:break-word;
}
#u81_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:25px;
  background:inherit;
  background-color:rgba(27, 161, 226, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u81 {
  position:absolute;
  left:694px;
  top:179px;
  width:159px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u82 {
  position:absolute;
  left:2px;
  top:4px;
  width:155px;
  word-wrap:break-word;
}
#u83_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:84px;
  background:inherit;
  background-color:rgba(27, 161, 226, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u83 {
  position:absolute;
  left:694px;
  top:203px;
  width:159px;
  height:84px;
  color:#FFFFFF;
}
#u84 {
  position:absolute;
  left:2px;
  top:34px;
  width:155px;
  word-wrap:break-word;
}
#u85_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:24px;
  background:inherit;
  background-color:rgba(27, 161, 226, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u85 {
  position:absolute;
  left:694px;
  top:286px;
  width:159px;
  height:24px;
  color:#FFFFFF;
}
#u86 {
  position:absolute;
  left:2px;
  top:4px;
  width:155px;
  word-wrap:break-word;
}
#u87_div {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:25px;
  background:inherit;
  background-color:rgba(27, 161, 226, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u87 {
  position:absolute;
  left:298px;
  top:195px;
  width:326px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u88 {
  position:absolute;
  left:2px;
  top:4px;
  width:322px;
  word-wrap:break-word;
}
#u89_div {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:52px;
  background:inherit;
  background-color:rgba(27, 161, 226, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u89 {
  position:absolute;
  left:298px;
  top:219px;
  width:326px;
  height:52px;
  color:#FFFFFF;
}
#u90 {
  position:absolute;
  left:2px;
  top:10px;
  width:322px;
  word-wrap:break-word;
}
#u91_div {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:24px;
  background:inherit;
  background-color:rgba(27, 161, 226, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u91 {
  position:absolute;
  left:298px;
  top:269px;
  width:326px;
  height:24px;
  color:#FFFFFF;
}
#u92 {
  position:absolute;
  left:2px;
  top:4px;
  width:322px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:237px;
  top:245px;
  width:0px;
  height:0px;
}
#u93_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:65px;
  height:8px;
}
#u93_seg1 {
  position:absolute;
  left:48px;
  top:-10px;
  width:20px;
  height:20px;
}
#u94 {
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:694px;
  top:245px;
  width:0px;
  height:0px;
}
#u95_seg0 {
  position:absolute;
  left:-70px;
  top:-4px;
  width:74px;
  height:8px;
}
#u95_seg1 {
  position:absolute;
  left:-77px;
  top:-10px;
  width:20px;
  height:20px;
}
#u96 {
  position:absolute;
  left:-85px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u97 {
  position:absolute;
  left:18px;
  top:911px;
  width:111px;
  height:21px;
  font-size:16px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:58px;
  top:1020px;
  width:363px;
  height:361px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  font-size:14px;
}
#u101 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u102 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:36px;
  font-size:14px;
}
#u103 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u104 {
  position:absolute;
  left:200px;
  top:0px;
  width:50px;
  height:36px;
  font-size:14px;
}
#u105 {
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u106 {
  position:absolute;
  left:250px;
  top:0px;
  width:50px;
  height:36px;
  font-size:14px;
}
#u107 {
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:36px;
}
#u108 {
  position:absolute;
  left:300px;
  top:0px;
  width:58px;
  height:36px;
  font-size:14px;
}
#u109 {
  position:absolute;
  left:2px;
  top:10px;
  width:54px;
  word-wrap:break-word;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u110 {
  position:absolute;
  left:0px;
  top:36px;
  width:100px;
  height:20px;
  font-size:14px;
}
#u111 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u112 {
  position:absolute;
  left:100px;
  top:36px;
  width:100px;
  height:20px;
  font-size:14px;
}
#u113 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u114 {
  position:absolute;
  left:200px;
  top:36px;
  width:50px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#009900;
}
#u115 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u116 {
  position:absolute;
  left:250px;
  top:36px;
  width:50px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#009900;
}
#u117 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u118 {
  position:absolute;
  left:300px;
  top:36px;
  width:58px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#009900;
}
#u119 {
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  word-wrap:break-word;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u120 {
  position:absolute;
  left:0px;
  top:56px;
  width:100px;
  height:20px;
  font-size:14px;
}
#u121 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u122 {
  position:absolute;
  left:100px;
  top:56px;
  width:100px;
  height:20px;
  font-size:14px;
}
#u123 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u124 {
  position:absolute;
  left:200px;
  top:56px;
  width:50px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#009900;
}
#u125 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u126 {
  position:absolute;
  left:250px;
  top:56px;
  width:50px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#009900;
}
#u127 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u128 {
  position:absolute;
  left:300px;
  top:56px;
  width:58px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#009900;
}
#u129 {
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  word-wrap:break-word;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u130 {
  position:absolute;
  left:0px;
  top:76px;
  width:100px;
  height:20px;
  font-size:14px;
}
#u131 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u132 {
  position:absolute;
  left:100px;
  top:76px;
  width:100px;
  height:20px;
  font-size:14px;
}
#u133 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u134 {
  position:absolute;
  left:200px;
  top:76px;
  width:50px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#009900;
}
#u135 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u136 {
  position:absolute;
  left:250px;
  top:76px;
  width:50px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#009900;
}
#u137 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u138 {
  position:absolute;
  left:300px;
  top:76px;
  width:58px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#009900;
}
#u139 {
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  word-wrap:break-word;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u140 {
  position:absolute;
  left:0px;
  top:96px;
  width:100px;
  height:20px;
  font-size:14px;
}
#u141 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u142 {
  position:absolute;
  left:100px;
  top:96px;
  width:100px;
  height:20px;
  font-size:14px;
}
#u143 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u144 {
  position:absolute;
  left:200px;
  top:96px;
  width:50px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#009900;
}
#u145 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u146 {
  position:absolute;
  left:250px;
  top:96px;
  width:50px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#009900;
}
#u147 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u148 {
  position:absolute;
  left:300px;
  top:96px;
  width:58px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u149 {
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  word-wrap:break-word;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u150 {
  position:absolute;
  left:0px;
  top:116px;
  width:100px;
  height:20px;
  font-size:14px;
}
#u151 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u152 {
  position:absolute;
  left:100px;
  top:116px;
  width:100px;
  height:20px;
  font-size:14px;
}
#u153 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u154 {
  position:absolute;
  left:200px;
  top:116px;
  width:50px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#009900;
}
#u155 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u156 {
  position:absolute;
  left:250px;
  top:116px;
  width:50px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u157 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u158 {
  position:absolute;
  left:300px;
  top:116px;
  width:58px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u159 {
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  word-wrap:break-word;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u160 {
  position:absolute;
  left:0px;
  top:136px;
  width:100px;
  height:20px;
  font-size:14px;
}
#u161 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u162 {
  position:absolute;
  left:100px;
  top:136px;
  width:100px;
  height:20px;
  font-size:14px;
}
#u163 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u164 {
  position:absolute;
  left:200px;
  top:136px;
  width:50px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#009900;
}
#u165 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u166 {
  position:absolute;
  left:250px;
  top:136px;
  width:50px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#009900;
}
#u167 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u168 {
  position:absolute;
  left:300px;
  top:136px;
  width:58px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#009900;
}
#u169 {
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  word-wrap:break-word;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u170 {
  position:absolute;
  left:0px;
  top:156px;
  width:100px;
  height:20px;
  font-size:14px;
}
#u171 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u172 {
  position:absolute;
  left:100px;
  top:156px;
  width:100px;
  height:20px;
  font-size:14px;
}
#u173 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u174 {
  position:absolute;
  left:200px;
  top:156px;
  width:50px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#009900;
}
#u175 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u176 {
  position:absolute;
  left:250px;
  top:156px;
  width:50px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#009900;
}
#u177 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u178 {
  position:absolute;
  left:300px;
  top:156px;
  width:58px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u179 {
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  word-wrap:break-word;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u180 {
  position:absolute;
  left:0px;
  top:176px;
  width:100px;
  height:20px;
  font-size:14px;
}
#u181 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u182 {
  position:absolute;
  left:100px;
  top:176px;
  width:100px;
  height:20px;
  font-size:14px;
}
#u183 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u184 {
  position:absolute;
  left:200px;
  top:176px;
  width:50px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#009900;
}
#u185 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u186 {
  position:absolute;
  left:250px;
  top:176px;
  width:50px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#009900;
}
#u187 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u188 {
  position:absolute;
  left:300px;
  top:176px;
  width:58px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u189 {
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  word-wrap:break-word;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u190 {
  position:absolute;
  left:0px;
  top:196px;
  width:100px;
  height:20px;
  font-size:14px;
}
#u191 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u192 {
  position:absolute;
  left:100px;
  top:196px;
  width:100px;
  height:20px;
  font-size:14px;
}
#u193 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u194 {
  position:absolute;
  left:200px;
  top:196px;
  width:50px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#009900;
}
#u195 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u196 {
  position:absolute;
  left:250px;
  top:196px;
  width:50px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u197 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u198 {
  position:absolute;
  left:300px;
  top:196px;
  width:58px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u199 {
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  word-wrap:break-word;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u200 {
  position:absolute;
  left:0px;
  top:216px;
  width:100px;
  height:20px;
  font-size:14px;
}
#u201 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u202 {
  position:absolute;
  left:100px;
  top:216px;
  width:100px;
  height:20px;
  font-size:14px;
}
#u203 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u204 {
  position:absolute;
  left:200px;
  top:216px;
  width:50px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#009900;
}
#u205 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u206 {
  position:absolute;
  left:250px;
  top:216px;
  width:50px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#009900;
}
#u207 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u208 {
  position:absolute;
  left:300px;
  top:216px;
  width:58px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#009900;
}
#u209 {
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  word-wrap:break-word;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u210 {
  position:absolute;
  left:0px;
  top:236px;
  width:100px;
  height:20px;
  font-size:14px;
}
#u211 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u212 {
  position:absolute;
  left:100px;
  top:236px;
  width:100px;
  height:20px;
  font-size:14px;
}
#u213 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u214 {
  position:absolute;
  left:200px;
  top:236px;
  width:50px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#009900;
}
#u215 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u216 {
  position:absolute;
  left:250px;
  top:236px;
  width:50px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#009900;
}
#u217 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u218 {
  position:absolute;
  left:300px;
  top:236px;
  width:58px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u219 {
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  word-wrap:break-word;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u220 {
  position:absolute;
  left:0px;
  top:256px;
  width:100px;
  height:20px;
  font-size:14px;
}
#u221 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u222 {
  position:absolute;
  left:100px;
  top:256px;
  width:100px;
  height:20px;
  font-size:14px;
}
#u223 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u224 {
  position:absolute;
  left:200px;
  top:256px;
  width:50px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#009900;
}
#u225 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u226 {
  position:absolute;
  left:250px;
  top:256px;
  width:50px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#009900;
}
#u227 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u228 {
  position:absolute;
  left:300px;
  top:256px;
  width:58px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#009900;
}
#u229 {
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  word-wrap:break-word;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u230 {
  position:absolute;
  left:0px;
  top:276px;
  width:100px;
  height:20px;
  font-size:14px;
}
#u231 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u232 {
  position:absolute;
  left:100px;
  top:276px;
  width:100px;
  height:20px;
  font-size:14px;
}
#u233 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u234 {
  position:absolute;
  left:200px;
  top:276px;
  width:50px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#009900;
}
#u235 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u236 {
  position:absolute;
  left:250px;
  top:276px;
  width:50px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#009900;
}
#u237 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u238 {
  position:absolute;
  left:300px;
  top:276px;
  width:58px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#009900;
}
#u239 {
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  word-wrap:break-word;
}
#u240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u240 {
  position:absolute;
  left:0px;
  top:296px;
  width:100px;
  height:20px;
  font-size:14px;
}
#u241 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u242 {
  position:absolute;
  left:100px;
  top:296px;
  width:100px;
  height:20px;
  font-size:14px;
}
#u243 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u244 {
  position:absolute;
  left:200px;
  top:296px;
  width:50px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#009900;
}
#u245 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u246 {
  position:absolute;
  left:250px;
  top:296px;
  width:50px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#009900;
}
#u247 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u248 {
  position:absolute;
  left:300px;
  top:296px;
  width:58px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#009900;
}
#u249 {
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  word-wrap:break-word;
}
#u250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u250 {
  position:absolute;
  left:0px;
  top:316px;
  width:100px;
  height:20px;
  font-size:14px;
}
#u251 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u252 {
  position:absolute;
  left:100px;
  top:316px;
  width:100px;
  height:20px;
  font-size:14px;
}
#u253 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u254 {
  position:absolute;
  left:200px;
  top:316px;
  width:50px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#009900;
}
#u255 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u256 {
  position:absolute;
  left:250px;
  top:316px;
  width:50px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#009900;
}
#u257 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u258 {
  position:absolute;
  left:300px;
  top:316px;
  width:58px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#009900;
}
#u259 {
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  word-wrap:break-word;
}
#u260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u260 {
  position:absolute;
  left:0px;
  top:336px;
  width:100px;
  height:20px;
  font-size:14px;
}
#u261 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u262 {
  position:absolute;
  left:100px;
  top:336px;
  width:100px;
  height:20px;
  font-size:14px;
}
#u263 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u264 {
  position:absolute;
  left:200px;
  top:336px;
  width:50px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#009900;
}
#u265 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u266 {
  position:absolute;
  left:250px;
  top:336px;
  width:50px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#009900;
}
#u267 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u268 {
  position:absolute;
  left:300px;
  top:336px;
  width:58px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#009900;
}
#u269 {
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  word-wrap:break-word;
}
#u270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u270 {
  position:absolute;
  left:58px;
  top:943px;
  width:369px;
  height:42px;
  font-size:16px;
}
#u271 {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  white-space:nowrap;
}
#u272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u272 {
  position:absolute;
  left:18px;
  top:316px;
  width:63px;
  height:21px;
  font-size:16px;
}
#u273 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u274 {
  position:absolute;
  left:18px;
  top:1395px;
  width:95px;
  height:21px;
  font-size:16px;
}
#u275 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u276 {
  position:absolute;
  left:58px;
  top:1427px;
  width:449px;
  height:19px;
  font-size:16px;
}
#u277 {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  white-space:nowrap;
}
#u278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u278 {
  position:absolute;
  left:36px;
  top:89px;
  width:415px;
  height:80px;
}
#u279 {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  white-space:nowrap;
}
#u280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:549px;
}
#u280 {
  position:absolute;
  left:36px;
  top:347px;
  width:362px;
  height:549px;
}
#u281 {
  position:absolute;
  left:2px;
  top:266px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
