﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:843px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:843px;
  height:210px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:843px;
  height:210px;
}
#u15 {
  position:absolute;
  left:2px;
  top:97px;
  width:839px;
  visibility:hidden;
  word-wrap:break-word;
}
