﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1247px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1140 {
  position:absolute;
  left:116px;
  top:62px;
  width:91px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1141 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u1142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:635px;
  height:133px;
}
#u1142 {
  position:absolute;
  left:621px;
  top:118px;
  width:635px;
  height:133px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u1143 {
  position:absolute;
  left:0px;
  top:0px;
  width:635px;
  word-wrap:break-word;
}
#u1144_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u1144 {
  position:absolute;
  left:583px;
  top:121px;
  width:20px;
  height:20px;
}
#u1145 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1146 {
  position:absolute;
  left:117px;
  top:94px;
  width:414px;
  height:736px;
}
#u1147 {
  position:absolute;
  left:2px;
  top:360px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:51px;
}
#u1148 {
  position:absolute;
  left:117px;
  top:94px;
  width:414px;
  height:51px;
}
#u1149 {
  position:absolute;
  left:2px;
  top:18px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:27px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1150 {
  position:absolute;
  left:284px;
  top:109px;
  width:107px;
  height:27px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1151 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u1152_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u1152 {
  position:absolute;
  left:401px;
  top:109px;
  width:20px;
  height:20px;
}
#u1153 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(94, 94, 94, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑';
  font-weight:290;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u1154 {
  position:absolute;
  left:-9px;
  top:105px;
  width:88px;
  height:25px;
  font-family:'微软雅黑 Light', '微软雅黑';
  font-weight:290;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u1155 {
  position:absolute;
  left:0px;
  top:3px;
  width:88px;
  word-wrap:break-word;
}
#u1156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(94, 94, 94, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑';
  font-weight:290;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:center;
}
#u1156 {
  position:absolute;
  left:-9px;
  top:130px;
  width:88px;
  height:90px;
  font-family:'微软雅黑 Light', '微软雅黑';
  font-weight:290;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:center;
}
#u1157 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
}
#u1158 {
  position:absolute;
  left:-1px;
  top:167px;
  width:72px;
  height:16px;
  color:#000000;
  text-align:center;
}
#u1159 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u1160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
}
#u1160 {
  position:absolute;
  left:-1px;
  top:135px;
  width:72px;
  height:16px;
  color:#FF0000;
  text-align:center;
}
#u1161 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u1162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:2px;
}
#u1162 {
  position:absolute;
  left:-8px;
  top:159px;
  width:87px;
  height:1px;
}
#u1163 {
  position:absolute;
  left:2px;
  top:-8px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:2px;
}
#u1164 {
  position:absolute;
  left:-9px;
  top:191px;
  width:87px;
  height:1px;
}
#u1165 {
  position:absolute;
  left:2px;
  top:-8px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
}
#u1166 {
  position:absolute;
  left:-1px;
  top:197px;
  width:72px;
  height:16px;
  color:#000000;
  text-align:center;
}
#u1167 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u1168 {
  position:absolute;
  left:288px;
  top:118px;
  width:0px;
  height:0px;
}
#u1168_seg0 {
  position:absolute;
  left:-209px;
  top:-4px;
  width:213px;
  height:8px;
}
#u1168_seg1 {
  position:absolute;
  left:-216px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1169 {
  position:absolute;
  left:-154px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1170 {
  position:absolute;
  left:373px;
  top:112px;
  width:18px;
  height:18px;
}
#u1171 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1172 {
  position:absolute;
  left:117px;
  top:778px;
  width:414px;
  height:52px;
  font-size:18px;
}
#u1173 {
  position:absolute;
  left:2px;
  top:18px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:27px;
}
#u1174 {
  position:absolute;
  left:161px;
  top:782px;
  width:32px;
  height:27px;
}
#u1175 {
  position:absolute;
  left:2px;
  top:6px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1176 {
  position:absolute;
  left:162px;
  top:809px;
  width:32px;
  height:17px;
  font-size:12px;
}
#u1177 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u1178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:30px;
}
#u1178 {
  position:absolute;
  left:303px;
  top:782px;
  width:35px;
  height:30px;
  font-size:12px;
}
#u1179 {
  position:absolute;
  left:2px;
  top:7px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1180 {
  position:absolute;
  left:306px;
  top:809px;
  width:31px;
  height:17px;
  font-size:12px;
}
#u1181 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u1182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1182 {
  position:absolute;
  left:462px;
  top:808px;
  width:31px;
  height:17px;
  font-size:12px;
}
#u1183 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u1184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:27px;
}
#u1184 {
  position:absolute;
  left:460px;
  top:782px;
  width:32px;
  height:27px;
  font-size:12px;
}
#u1185 {
  position:absolute;
  left:2px;
  top:6px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:170px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.709803921568627);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1186 {
  position:absolute;
  left:117px;
  top:144px;
  width:414px;
  height:170px;
}
#u1187 {
  position:absolute;
  left:2px;
  top:77px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:170px;
}
#u1188 {
  position:absolute;
  left:115px;
  top:144px;
  width:416px;
  height:170px;
}
#u1189 {
  position:absolute;
  left:2px;
  top:77px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1190_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u1190 {
  position:absolute;
  left:583px;
  top:291px;
  width:20px;
  height:20px;
}
#u1191 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
}
#u1192 {
  position:absolute;
  left:616px;
  top:291px;
  width:401px;
  height:21px;
  font-size:16px;
  color:#FF0000;
}
#u1193 {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  white-space:nowrap;
}
#u1194_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u1194 {
  position:absolute;
  left:583px;
  top:336px;
  width:20px;
  height:20px;
}
#u1195 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
}
#u1196 {
  position:absolute;
  left:616px;
  top:336px;
  width:401px;
  height:21px;
  font-size:16px;
  color:#FF0000;
}
#u1197 {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  white-space:nowrap;
}
#u1198_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u1198 {
  position:absolute;
  left:71px;
  top:163px;
  width:20px;
  height:20px;
}
#u1199 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1200_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u1200 {
  position:absolute;
  left:583px;
  top:245px;
  width:20px;
  height:20px;
}
#u1201 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1202_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u1202 {
  position:absolute;
  left:493px;
  top:200px;
  width:20px;
  height:20px;
}
#u1203 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1204_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u1204 {
  position:absolute;
  left:502px;
  top:789px;
  width:20px;
  height:20px;
}
#u1205 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
