﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1620px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1620px;
  height:50px;
  background:inherit;
  background-color:rgba(51, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u222 {
  position:absolute;
  left:0px;
  top:0px;
  width:1620px;
  height:50px;
}
#u223 {
  position:absolute;
  left:2px;
  top:17px;
  width:1616px;
  visibility:hidden;
  word-wrap:break-word;
}
#u224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u224 {
  position:absolute;
  left:19px;
  top:7px;
  width:109px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u225 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u226 {
  position:absolute;
  left:31px;
  top:66px;
  width:777px;
  height:143px;
}
#u227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:23px;
}
#u227 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u228 {
  position:absolute;
  left:2px;
  top:2px;
  width:111px;
  word-wrap:break-word;
}
#u229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:657px;
  height:23px;
}
#u229 {
  position:absolute;
  left:115px;
  top:0px;
  width:657px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u230 {
  position:absolute;
  left:2px;
  top:2px;
  width:653px;
  word-wrap:break-word;
}
#u231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:23px;
}
#u231 {
  position:absolute;
  left:0px;
  top:23px;
  width:115px;
  height:23px;
  font-size:16px;
  text-align:left;
}
#u232 {
  position:absolute;
  left:2px;
  top:2px;
  width:111px;
  word-wrap:break-word;
}
#u233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:657px;
  height:23px;
}
#u233 {
  position:absolute;
  left:115px;
  top:23px;
  width:657px;
  height:23px;
  font-size:16px;
  text-align:left;
}
#u234 {
  position:absolute;
  left:2px;
  top:2px;
  width:653px;
  word-wrap:break-word;
}
#u235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:23px;
}
#u235 {
  position:absolute;
  left:0px;
  top:46px;
  width:115px;
  height:23px;
  font-size:16px;
  text-align:left;
}
#u236 {
  position:absolute;
  left:10px;
  top:2px;
  width:103px;
  word-wrap:break-word;
}
#u237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:657px;
  height:23px;
}
#u237 {
  position:absolute;
  left:115px;
  top:46px;
  width:657px;
  height:23px;
  font-size:16px;
  text-align:left;
}
#u238 {
  position:absolute;
  left:2px;
  top:2px;
  width:653px;
  word-wrap:break-word;
}
#u239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:23px;
}
#u239 {
  position:absolute;
  left:0px;
  top:69px;
  width:115px;
  height:23px;
  font-size:16px;
  text-align:left;
}
#u240 {
  position:absolute;
  left:2px;
  top:2px;
  width:111px;
  word-wrap:break-word;
}
#u241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:657px;
  height:23px;
}
#u241 {
  position:absolute;
  left:115px;
  top:69px;
  width:657px;
  height:23px;
  font-size:16px;
  text-align:left;
}
#u242 {
  position:absolute;
  left:2px;
  top:2px;
  width:653px;
  word-wrap:break-word;
}
#u243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:23px;
}
#u243 {
  position:absolute;
  left:0px;
  top:92px;
  width:115px;
  height:23px;
  font-size:16px;
  text-align:left;
}
#u244 {
  position:absolute;
  left:2px;
  top:2px;
  width:111px;
  word-wrap:break-word;
}
#u245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:657px;
  height:23px;
}
#u245 {
  position:absolute;
  left:115px;
  top:92px;
  width:657px;
  height:23px;
  font-size:16px;
  text-align:left;
}
#u246 {
  position:absolute;
  left:2px;
  top:2px;
  width:653px;
  word-wrap:break-word;
}
#u247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:23px;
}
#u247 {
  position:absolute;
  left:0px;
  top:115px;
  width:115px;
  height:23px;
  font-size:16px;
  text-align:left;
}
#u248 {
  position:absolute;
  left:2px;
  top:2px;
  width:111px;
  word-wrap:break-word;
}
#u249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:657px;
  height:23px;
}
#u249 {
  position:absolute;
  left:115px;
  top:115px;
  width:657px;
  height:23px;
  font-size:16px;
  text-align:left;
}
#u250 {
  position:absolute;
  left:2px;
  top:2px;
  width:653px;
  word-wrap:break-word;
}
#u252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1620px;
  height:7px;
  background:inherit;
  background-color:rgba(51, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u252 {
  position:absolute;
  left:0px;
  top:241px;
  width:1620px;
  height:7px;
}
#u253 {
  position:absolute;
  left:2px;
  top:-4px;
  width:1616px;
  visibility:hidden;
  word-wrap:break-word;
}
#u254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u254 {
  position:absolute;
  left:748px;
  top:233px;
  width:125px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u255 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
