﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u667_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
  background:inherit;
  background-color:rgba(51, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u667 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u668 {
  position:absolute;
  left:2px;
  top:17px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u669 {
  position:absolute;
  left:19px;
  top:7px;
  width:161px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u670 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u671 {
  position:absolute;
  left:18px;
  top:73px;
  width:512px;
  height:403px;
}
#u672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:35px;
}
#u672 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:35px;
  font-size:16px;
  color:#FFFFFF;
}
#u673 {
  position:absolute;
  left:10px;
  top:8px;
  width:58px;
  word-wrap:break-word;
}
#u674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:35px;
}
#u674 {
  position:absolute;
  left:78px;
  top:0px;
  width:135px;
  height:35px;
  font-size:16px;
  color:#FFFFFF;
}
#u675 {
  position:absolute;
  left:10px;
  top:8px;
  width:115px;
  word-wrap:break-word;
}
#u676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:35px;
}
#u676 {
  position:absolute;
  left:213px;
  top:0px;
  width:74px;
  height:35px;
  font-size:16px;
  color:#FFFFFF;
}
#u677 {
  position:absolute;
  left:10px;
  top:8px;
  width:54px;
  word-wrap:break-word;
}
#u678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u678 {
  position:absolute;
  left:287px;
  top:0px;
  width:100px;
  height:35px;
  font-size:16px;
  color:#FFFFFF;
}
#u679 {
  position:absolute;
  left:10px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:35px;
}
#u680 {
  position:absolute;
  left:387px;
  top:0px;
  width:120px;
  height:35px;
  font-size:16px;
  color:#FFFFFF;
}
#u681 {
  position:absolute;
  left:10px;
  top:8px;
  width:100px;
  word-wrap:break-word;
}
#u682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:35px;
}
#u682 {
  position:absolute;
  left:0px;
  top:35px;
  width:78px;
  height:35px;
  font-size:16px;
}
#u683 {
  position:absolute;
  left:10px;
  top:10px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:35px;
}
#u684 {
  position:absolute;
  left:78px;
  top:35px;
  width:135px;
  height:35px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u685 {
  position:absolute;
  left:10px;
  top:10px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:35px;
}
#u686 {
  position:absolute;
  left:213px;
  top:35px;
  width:74px;
  height:35px;
  font-size:16px;
  text-align:left;
}
#u687 {
  position:absolute;
  left:10px;
  top:10px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u688 {
  position:absolute;
  left:287px;
  top:35px;
  width:100px;
  height:35px;
  font-size:16px;
  text-align:left;
}
#u689 {
  position:absolute;
  left:10px;
  top:10px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:35px;
}
#u690 {
  position:absolute;
  left:387px;
  top:35px;
  width:120px;
  height:35px;
  font-size:16px;
}
#u691 {
  position:absolute;
  left:10px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:36px;
}
#u692 {
  position:absolute;
  left:0px;
  top:70px;
  width:78px;
  height:36px;
  font-size:16px;
}
#u693 {
  position:absolute;
  left:10px;
  top:10px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u694 {
  position:absolute;
  left:78px;
  top:70px;
  width:135px;
  height:36px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u695 {
  position:absolute;
  left:10px;
  top:10px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:36px;
}
#u696 {
  position:absolute;
  left:213px;
  top:70px;
  width:74px;
  height:36px;
  font-size:16px;
  text-align:left;
}
#u697 {
  position:absolute;
  left:10px;
  top:10px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u698 {
  position:absolute;
  left:287px;
  top:70px;
  width:100px;
  height:36px;
  font-size:16px;
  text-align:left;
}
#u699 {
  position:absolute;
  left:10px;
  top:10px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
}
#u700 {
  position:absolute;
  left:387px;
  top:70px;
  width:120px;
  height:36px;
  font-size:16px;
}
#u701 {
  position:absolute;
  left:10px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:35px;
}
#u702 {
  position:absolute;
  left:0px;
  top:106px;
  width:78px;
  height:35px;
  font-size:16px;
}
#u703 {
  position:absolute;
  left:10px;
  top:10px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:35px;
}
#u704 {
  position:absolute;
  left:78px;
  top:106px;
  width:135px;
  height:35px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u705 {
  position:absolute;
  left:10px;
  top:10px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:35px;
}
#u706 {
  position:absolute;
  left:213px;
  top:106px;
  width:74px;
  height:35px;
  font-size:16px;
  text-align:left;
}
#u707 {
  position:absolute;
  left:10px;
  top:10px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u708 {
  position:absolute;
  left:287px;
  top:106px;
  width:100px;
  height:35px;
  font-size:16px;
  text-align:left;
}
#u709 {
  position:absolute;
  left:10px;
  top:10px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:35px;
}
#u710 {
  position:absolute;
  left:387px;
  top:106px;
  width:120px;
  height:35px;
  font-size:16px;
}
#u711 {
  position:absolute;
  left:10px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u712 {
  position:absolute;
  left:0px;
  top:141px;
  width:78px;
  height:30px;
  font-size:16px;
}
#u713 {
  position:absolute;
  left:10px;
  top:7px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
}
#u714 {
  position:absolute;
  left:78px;
  top:141px;
  width:135px;
  height:30px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u715 {
  position:absolute;
  left:10px;
  top:7px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u716 {
  position:absolute;
  left:213px;
  top:141px;
  width:74px;
  height:30px;
  font-size:16px;
  text-align:left;
}
#u717 {
  position:absolute;
  left:10px;
  top:7px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u718 {
  position:absolute;
  left:287px;
  top:141px;
  width:100px;
  height:30px;
  font-size:16px;
  text-align:left;
}
#u719 {
  position:absolute;
  left:10px;
  top:7px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u720 {
  position:absolute;
  left:387px;
  top:141px;
  width:120px;
  height:30px;
  font-size:16px;
}
#u721 {
  position:absolute;
  left:10px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:33px;
}
#u722 {
  position:absolute;
  left:0px;
  top:171px;
  width:78px;
  height:33px;
  font-size:16px;
}
#u723 {
  position:absolute;
  left:10px;
  top:8px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:33px;
}
#u724 {
  position:absolute;
  left:78px;
  top:171px;
  width:135px;
  height:33px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u725 {
  position:absolute;
  left:10px;
  top:8px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:33px;
}
#u726 {
  position:absolute;
  left:213px;
  top:171px;
  width:74px;
  height:33px;
  font-size:16px;
  text-align:left;
}
#u727 {
  position:absolute;
  left:10px;
  top:8px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:33px;
}
#u728 {
  position:absolute;
  left:287px;
  top:171px;
  width:100px;
  height:33px;
  font-size:16px;
  text-align:left;
}
#u729 {
  position:absolute;
  left:10px;
  top:8px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:33px;
}
#u730 {
  position:absolute;
  left:387px;
  top:171px;
  width:120px;
  height:33px;
  font-size:16px;
}
#u731 {
  position:absolute;
  left:10px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:32px;
}
#u732 {
  position:absolute;
  left:0px;
  top:204px;
  width:78px;
  height:32px;
  font-size:16px;
}
#u733 {
  position:absolute;
  left:10px;
  top:8px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:32px;
}
#u734 {
  position:absolute;
  left:78px;
  top:204px;
  width:135px;
  height:32px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u735 {
  position:absolute;
  left:10px;
  top:8px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:32px;
}
#u736 {
  position:absolute;
  left:213px;
  top:204px;
  width:74px;
  height:32px;
  font-size:16px;
  text-align:left;
}
#u737 {
  position:absolute;
  left:10px;
  top:8px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u738 {
  position:absolute;
  left:287px;
  top:204px;
  width:100px;
  height:32px;
  font-size:16px;
  text-align:left;
}
#u739 {
  position:absolute;
  left:10px;
  top:8px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
}
#u740 {
  position:absolute;
  left:387px;
  top:204px;
  width:120px;
  height:32px;
  font-size:16px;
}
#u741 {
  position:absolute;
  left:10px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:32px;
}
#u742 {
  position:absolute;
  left:0px;
  top:236px;
  width:78px;
  height:32px;
  font-size:16px;
}
#u743 {
  position:absolute;
  left:10px;
  top:8px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:32px;
}
#u744 {
  position:absolute;
  left:78px;
  top:236px;
  width:135px;
  height:32px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u745 {
  position:absolute;
  left:10px;
  top:8px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:32px;
}
#u746 {
  position:absolute;
  left:213px;
  top:236px;
  width:74px;
  height:32px;
  font-size:16px;
  text-align:left;
}
#u747 {
  position:absolute;
  left:10px;
  top:8px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u748 {
  position:absolute;
  left:287px;
  top:236px;
  width:100px;
  height:32px;
  font-size:16px;
  text-align:left;
}
#u749 {
  position:absolute;
  left:10px;
  top:8px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
}
#u750 {
  position:absolute;
  left:387px;
  top:236px;
  width:120px;
  height:32px;
  font-size:16px;
}
#u751 {
  position:absolute;
  left:10px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:32px;
}
#u752 {
  position:absolute;
  left:0px;
  top:268px;
  width:78px;
  height:32px;
  font-size:16px;
}
#u753 {
  position:absolute;
  left:10px;
  top:8px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u754_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:32px;
}
#u754 {
  position:absolute;
  left:78px;
  top:268px;
  width:135px;
  height:32px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u755 {
  position:absolute;
  left:10px;
  top:8px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u756_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:32px;
}
#u756 {
  position:absolute;
  left:213px;
  top:268px;
  width:74px;
  height:32px;
  font-size:16px;
  text-align:left;
}
#u757 {
  position:absolute;
  left:10px;
  top:8px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u758_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u758 {
  position:absolute;
  left:287px;
  top:268px;
  width:100px;
  height:32px;
  font-size:16px;
  text-align:left;
}
#u759 {
  position:absolute;
  left:10px;
  top:8px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u760_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
}
#u760 {
  position:absolute;
  left:387px;
  top:268px;
  width:120px;
  height:32px;
  font-size:16px;
}
#u761 {
  position:absolute;
  left:10px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u762_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:32px;
}
#u762 {
  position:absolute;
  left:0px;
  top:300px;
  width:78px;
  height:32px;
  font-size:16px;
}
#u763 {
  position:absolute;
  left:10px;
  top:8px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u764_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:32px;
}
#u764 {
  position:absolute;
  left:78px;
  top:300px;
  width:135px;
  height:32px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u765 {
  position:absolute;
  left:10px;
  top:8px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u766_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:32px;
}
#u766 {
  position:absolute;
  left:213px;
  top:300px;
  width:74px;
  height:32px;
  font-size:16px;
  text-align:left;
}
#u767 {
  position:absolute;
  left:10px;
  top:8px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u768_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u768 {
  position:absolute;
  left:287px;
  top:300px;
  width:100px;
  height:32px;
  font-size:16px;
  text-align:left;
}
#u769 {
  position:absolute;
  left:10px;
  top:8px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u770_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
}
#u770 {
  position:absolute;
  left:387px;
  top:300px;
  width:120px;
  height:32px;
  font-size:16px;
}
#u771 {
  position:absolute;
  left:10px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u772_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:32px;
}
#u772 {
  position:absolute;
  left:0px;
  top:332px;
  width:78px;
  height:32px;
  font-size:16px;
}
#u773 {
  position:absolute;
  left:10px;
  top:8px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u774_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:32px;
}
#u774 {
  position:absolute;
  left:78px;
  top:332px;
  width:135px;
  height:32px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u775 {
  position:absolute;
  left:10px;
  top:8px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u776_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:32px;
}
#u776 {
  position:absolute;
  left:213px;
  top:332px;
  width:74px;
  height:32px;
  font-size:16px;
  text-align:left;
}
#u777 {
  position:absolute;
  left:10px;
  top:8px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u778 {
  position:absolute;
  left:287px;
  top:332px;
  width:100px;
  height:32px;
  font-size:16px;
  text-align:left;
}
#u779 {
  position:absolute;
  left:10px;
  top:8px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u780_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
}
#u780 {
  position:absolute;
  left:387px;
  top:332px;
  width:120px;
  height:32px;
  font-size:16px;
}
#u781 {
  position:absolute;
  left:10px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u782_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:34px;
}
#u782 {
  position:absolute;
  left:0px;
  top:364px;
  width:78px;
  height:34px;
  font-size:16px;
}
#u783 {
  position:absolute;
  left:10px;
  top:9px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u784_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:34px;
}
#u784 {
  position:absolute;
  left:78px;
  top:364px;
  width:135px;
  height:34px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u785 {
  position:absolute;
  left:10px;
  top:9px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u786_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:34px;
}
#u786 {
  position:absolute;
  left:213px;
  top:364px;
  width:74px;
  height:34px;
  font-size:16px;
  text-align:left;
}
#u787 {
  position:absolute;
  left:10px;
  top:9px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u788_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u788 {
  position:absolute;
  left:287px;
  top:364px;
  width:100px;
  height:34px;
  font-size:16px;
  text-align:left;
}
#u789 {
  position:absolute;
  left:10px;
  top:9px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u790_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:34px;
}
#u790 {
  position:absolute;
  left:387px;
  top:364px;
  width:120px;
  height:34px;
  font-size:16px;
}
#u791 {
  position:absolute;
  left:10px;
  top:9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u793_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:7px;
  background:inherit;
  background-color:rgba(51, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u793 {
  position:absolute;
  left:0px;
  top:557px;
  width:1200px;
  height:7px;
}
#u794 {
  position:absolute;
  left:2px;
  top:-4px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u795_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u795 {
  position:absolute;
  left:538px;
  top:550px;
  width:125px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u796 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
