﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1472px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1472px;
  height:866px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:1472px;
  height:866px;
}
#u45 {
  position:absolute;
  left:2px;
  top:425px;
  width:1468px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:184px;
  top:255px;
  width:636px;
  height:412px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:55px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:55px;
  color:#1E1E1E;
}
#u48 {
  position:absolute;
  left:2px;
  top:18px;
  width:191px;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:55px;
}
#u49 {
  position:absolute;
  left:195px;
  top:0px;
  width:351px;
  height:55px;
  color:#1E1E1E;
}
#u50 {
  position:absolute;
  left:2px;
  top:18px;
  width:347px;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:55px;
}
#u51 {
  position:absolute;
  left:546px;
  top:0px;
  width:85px;
  height:55px;
  color:#1E1E1E;
}
#u52 {
  position:absolute;
  left:2px;
  top:18px;
  width:81px;
  word-wrap:break-word;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:45px;
}
#u53 {
  position:absolute;
  left:0px;
  top:55px;
  width:195px;
  height:45px;
  color:#1E1E1E;
}
#u54 {
  position:absolute;
  left:2px;
  top:14px;
  width:191px;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:45px;
}
#u55 {
  position:absolute;
  left:195px;
  top:55px;
  width:351px;
  height:45px;
  color:#1E1E1E;
}
#u56 {
  position:absolute;
  left:2px;
  top:14px;
  width:347px;
  word-wrap:break-word;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:45px;
}
#u57 {
  position:absolute;
  left:546px;
  top:55px;
  width:85px;
  height:45px;
  color:#1E1E1E;
}
#u58 {
  position:absolute;
  left:2px;
  top:14px;
  width:81px;
  word-wrap:break-word;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:51px;
}
#u59 {
  position:absolute;
  left:0px;
  top:100px;
  width:195px;
  height:51px;
  color:#1E1E1E;
}
#u60 {
  position:absolute;
  left:2px;
  top:16px;
  width:191px;
  word-wrap:break-word;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:51px;
}
#u61 {
  position:absolute;
  left:195px;
  top:100px;
  width:351px;
  height:51px;
  color:#1E1E1E;
}
#u62 {
  position:absolute;
  left:2px;
  top:16px;
  width:347px;
  word-wrap:break-word;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:51px;
}
#u63 {
  position:absolute;
  left:546px;
  top:100px;
  width:85px;
  height:51px;
  color:#1E1E1E;
}
#u64 {
  position:absolute;
  left:2px;
  top:16px;
  width:81px;
  word-wrap:break-word;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:46px;
}
#u65 {
  position:absolute;
  left:0px;
  top:151px;
  width:195px;
  height:46px;
  color:#1E1E1E;
}
#u66 {
  position:absolute;
  left:2px;
  top:14px;
  width:191px;
  word-wrap:break-word;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:46px;
}
#u67 {
  position:absolute;
  left:195px;
  top:151px;
  width:351px;
  height:46px;
  color:#1E1E1E;
}
#u68 {
  position:absolute;
  left:2px;
  top:14px;
  width:347px;
  word-wrap:break-word;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:46px;
}
#u69 {
  position:absolute;
  left:546px;
  top:151px;
  width:85px;
  height:46px;
  color:#1E1E1E;
}
#u70 {
  position:absolute;
  left:2px;
  top:14px;
  width:81px;
  word-wrap:break-word;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:59px;
}
#u71 {
  position:absolute;
  left:0px;
  top:197px;
  width:195px;
  height:59px;
  color:#1E1E1E;
}
#u72 {
  position:absolute;
  left:2px;
  top:20px;
  width:191px;
  word-wrap:break-word;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:59px;
}
#u73 {
  position:absolute;
  left:195px;
  top:197px;
  width:351px;
  height:59px;
  color:#1E1E1E;
}
#u74 {
  position:absolute;
  left:2px;
  top:20px;
  width:347px;
  word-wrap:break-word;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:59px;
}
#u75 {
  position:absolute;
  left:546px;
  top:197px;
  width:85px;
  height:59px;
  color:#1E1E1E;
}
#u76 {
  position:absolute;
  left:2px;
  top:20px;
  width:81px;
  word-wrap:break-word;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:54px;
}
#u77 {
  position:absolute;
  left:0px;
  top:256px;
  width:195px;
  height:54px;
  color:#1E1E1E;
}
#u78 {
  position:absolute;
  left:2px;
  top:18px;
  width:191px;
  word-wrap:break-word;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:54px;
}
#u79 {
  position:absolute;
  left:195px;
  top:256px;
  width:351px;
  height:54px;
  color:#1E1E1E;
}
#u80 {
  position:absolute;
  left:2px;
  top:18px;
  width:347px;
  word-wrap:break-word;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:54px;
}
#u81 {
  position:absolute;
  left:546px;
  top:256px;
  width:85px;
  height:54px;
  color:#1E1E1E;
}
#u82 {
  position:absolute;
  left:2px;
  top:18px;
  width:81px;
  word-wrap:break-word;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:49px;
}
#u83 {
  position:absolute;
  left:0px;
  top:310px;
  width:195px;
  height:49px;
  color:#1E1E1E;
}
#u84 {
  position:absolute;
  left:2px;
  top:16px;
  width:191px;
  word-wrap:break-word;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:49px;
}
#u85 {
  position:absolute;
  left:195px;
  top:310px;
  width:351px;
  height:49px;
  color:#1E1E1E;
}
#u86 {
  position:absolute;
  left:2px;
  top:16px;
  width:347px;
  word-wrap:break-word;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:49px;
}
#u87 {
  position:absolute;
  left:546px;
  top:310px;
  width:85px;
  height:49px;
  color:#1E1E1E;
}
#u88 {
  position:absolute;
  left:2px;
  top:16px;
  width:81px;
  word-wrap:break-word;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:48px;
}
#u89 {
  position:absolute;
  left:0px;
  top:359px;
  width:195px;
  height:48px;
  color:#1E1E1E;
}
#u90 {
  position:absolute;
  left:2px;
  top:15px;
  width:191px;
  word-wrap:break-word;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:48px;
}
#u91 {
  position:absolute;
  left:195px;
  top:359px;
  width:351px;
  height:48px;
  color:#1E1E1E;
}
#u92 {
  position:absolute;
  left:2px;
  top:15px;
  width:347px;
  word-wrap:break-word;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:48px;
}
#u93 {
  position:absolute;
  left:546px;
  top:359px;
  width:85px;
  height:48px;
  color:#1E1E1E;
}
#u94 {
  position:absolute;
  left:2px;
  top:15px;
  width:81px;
  word-wrap:break-word;
}
#u95_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#1E1E1E;
}
#u95 {
  position:absolute;
  left:183px;
  top:186px;
  width:136px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#1E1E1E;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  white-space:nowrap;
}
