﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:863px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:863px;
  height:229px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:863px;
  height:229px;
}
#u9 {
  position:absolute;
  left:2px;
  top:106px;
  width:859px;
  visibility:hidden;
  word-wrap:break-word;
}
