﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u803_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
  background:inherit;
  background-color:rgba(51, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u803 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u804 {
  position:absolute;
  left:2px;
  top:17px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u805 {
  position:absolute;
  left:19px;
  top:7px;
  width:161px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u806 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u807 {
  position:absolute;
  left:18px;
  top:80px;
  width:731px;
  height:376px;
}
#u808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:42px;
}
#u808 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:42px;
  font-size:16px;
  color:#FFFFFF;
}
#u809 {
  position:absolute;
  left:10px;
  top:12px;
  width:178px;
  word-wrap:break-word;
}
#u810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:42px;
}
#u810 {
  position:absolute;
  left:198px;
  top:0px;
  width:127px;
  height:42px;
  font-size:16px;
  color:#FFFFFF;
}
#u811 {
  position:absolute;
  left:10px;
  top:12px;
  width:107px;
  word-wrap:break-word;
}
#u812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:42px;
}
#u812 {
  position:absolute;
  left:325px;
  top:0px;
  width:401px;
  height:42px;
  font-size:16px;
  color:#FFFFFF;
}
#u813 {
  position:absolute;
  left:10px;
  top:12px;
  width:381px;
  word-wrap:break-word;
}
#u814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:38px;
}
#u814 {
  position:absolute;
  left:0px;
  top:42px;
  width:198px;
  height:38px;
  font-size:16px;
}
#u815 {
  position:absolute;
  left:10px;
  top:11px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:38px;
}
#u816 {
  position:absolute;
  left:198px;
  top:42px;
  width:127px;
  height:38px;
  font-size:16px;
  text-align:left;
}
#u817 {
  position:absolute;
  left:10px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:38px;
}
#u818 {
  position:absolute;
  left:325px;
  top:42px;
  width:401px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u819 {
  position:absolute;
  left:10px;
  top:11px;
  width:381px;
  visibility:hidden;
  word-wrap:break-word;
}
#u820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:33px;
}
#u820 {
  position:absolute;
  left:0px;
  top:80px;
  width:198px;
  height:33px;
  font-size:16px;
}
#u821 {
  position:absolute;
  left:10px;
  top:8px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:33px;
}
#u822 {
  position:absolute;
  left:198px;
  top:80px;
  width:127px;
  height:33px;
  font-size:16px;
  text-align:left;
}
#u823 {
  position:absolute;
  left:10px;
  top:8px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:33px;
}
#u824 {
  position:absolute;
  left:325px;
  top:80px;
  width:401px;
  height:33px;
  font-size:16px;
  text-align:left;
}
#u825 {
  position:absolute;
  left:10px;
  top:8px;
  width:381px;
  visibility:hidden;
  word-wrap:break-word;
}
#u826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:43px;
}
#u826 {
  position:absolute;
  left:0px;
  top:113px;
  width:198px;
  height:43px;
  font-size:16px;
}
#u827 {
  position:absolute;
  left:10px;
  top:14px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:43px;
}
#u828 {
  position:absolute;
  left:198px;
  top:113px;
  width:127px;
  height:43px;
  font-size:16px;
}
#u829 {
  position:absolute;
  left:10px;
  top:14px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:43px;
}
#u830 {
  position:absolute;
  left:325px;
  top:113px;
  width:401px;
  height:43px;
  font-size:16px;
}
#u831 {
  position:absolute;
  left:10px;
  top:14px;
  width:381px;
  visibility:hidden;
  word-wrap:break-word;
}
#u832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:43px;
}
#u832 {
  position:absolute;
  left:0px;
  top:156px;
  width:198px;
  height:43px;
  font-size:16px;
}
#u833 {
  position:absolute;
  left:10px;
  top:14px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:43px;
}
#u834 {
  position:absolute;
  left:198px;
  top:156px;
  width:127px;
  height:43px;
  font-size:16px;
}
#u835 {
  position:absolute;
  left:10px;
  top:14px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:43px;
}
#u836 {
  position:absolute;
  left:325px;
  top:156px;
  width:401px;
  height:43px;
  font-size:16px;
}
#u837 {
  position:absolute;
  left:10px;
  top:14px;
  width:381px;
  visibility:hidden;
  word-wrap:break-word;
}
#u838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:43px;
}
#u838 {
  position:absolute;
  left:0px;
  top:199px;
  width:198px;
  height:43px;
  font-size:16px;
}
#u839 {
  position:absolute;
  left:10px;
  top:14px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:43px;
}
#u840 {
  position:absolute;
  left:198px;
  top:199px;
  width:127px;
  height:43px;
  font-size:16px;
}
#u841 {
  position:absolute;
  left:10px;
  top:14px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:43px;
}
#u842 {
  position:absolute;
  left:325px;
  top:199px;
  width:401px;
  height:43px;
  font-size:16px;
}
#u843 {
  position:absolute;
  left:10px;
  top:14px;
  width:381px;
  visibility:hidden;
  word-wrap:break-word;
}
#u844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:43px;
}
#u844 {
  position:absolute;
  left:0px;
  top:242px;
  width:198px;
  height:43px;
  font-size:16px;
}
#u845 {
  position:absolute;
  left:10px;
  top:14px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:43px;
}
#u846 {
  position:absolute;
  left:198px;
  top:242px;
  width:127px;
  height:43px;
  font-size:16px;
}
#u847 {
  position:absolute;
  left:10px;
  top:14px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:43px;
}
#u848 {
  position:absolute;
  left:325px;
  top:242px;
  width:401px;
  height:43px;
  font-size:16px;
}
#u849 {
  position:absolute;
  left:10px;
  top:14px;
  width:381px;
  visibility:hidden;
  word-wrap:break-word;
}
#u850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:43px;
}
#u850 {
  position:absolute;
  left:0px;
  top:285px;
  width:198px;
  height:43px;
  font-size:16px;
}
#u851 {
  position:absolute;
  left:10px;
  top:14px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:43px;
}
#u852 {
  position:absolute;
  left:198px;
  top:285px;
  width:127px;
  height:43px;
  font-size:16px;
}
#u853 {
  position:absolute;
  left:10px;
  top:14px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:43px;
}
#u854 {
  position:absolute;
  left:325px;
  top:285px;
  width:401px;
  height:43px;
  font-size:16px;
}
#u855 {
  position:absolute;
  left:10px;
  top:14px;
  width:381px;
  visibility:hidden;
  word-wrap:break-word;
}
#u856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:43px;
}
#u856 {
  position:absolute;
  left:0px;
  top:328px;
  width:198px;
  height:43px;
  font-size:16px;
}
#u857 {
  position:absolute;
  left:10px;
  top:14px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:43px;
}
#u858 {
  position:absolute;
  left:198px;
  top:328px;
  width:127px;
  height:43px;
  font-size:16px;
}
#u859 {
  position:absolute;
  left:10px;
  top:14px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:43px;
}
#u860 {
  position:absolute;
  left:325px;
  top:328px;
  width:401px;
  height:43px;
  font-size:16px;
}
#u861 {
  position:absolute;
  left:10px;
  top:14px;
  width:381px;
  visibility:hidden;
  word-wrap:break-word;
}
#u863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:7px;
  background:inherit;
  background-color:rgba(51, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u863 {
  position:absolute;
  left:0px;
  top:521px;
  width:1200px;
  height:7px;
}
#u864 {
  position:absolute;
  left:2px;
  top:-4px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u865 {
  position:absolute;
  left:538px;
  top:514px;
  width:125px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u866 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
