﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1620px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1620px;
  height:50px;
  background:inherit;
  background-color:rgba(51, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1620px;
  height:50px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:1616px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:7px;
  width:113px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:282px;
  width:57px;
  height:21px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:321px;
  width:529px;
  height:56px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  white-space:nowrap;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:192px;
  width:57px;
  height:21px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:235px;
  width:410px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  white-space:nowrap;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:392px;
  width:98px;
  height:21px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u17_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:431px;
  width:417px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  white-space:nowrap;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:488px;
  width:75px;
  height:21px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u22_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:527px;
  width:321px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  white-space:nowrap;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:103px;
  width:857px;
  height:74px;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:23px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:23px;
  font-size:16px;
  color:#FFFFFF;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:93px;
  word-wrap:break-word;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:23px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:0px;
  width:123px;
  height:23px;
  font-size:16px;
  color:#FFFFFF;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:119px;
  word-wrap:break-word;
}
#u29_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:23px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:0px;
  width:101px;
  height:23px;
  font-size:16px;
  color:#FFFFFF;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:97px;
  word-wrap:break-word;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:23px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:0px;
  width:531px;
  height:23px;
  font-size:16px;
  color:#FFFFFF;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:527px;
  word-wrap:break-word;
}
#u33_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:23px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:97px;
  height:23px;
  font-size:16px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:93px;
  word-wrap:break-word;
}
#u35_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:23px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:23px;
  width:123px;
  height:23px;
  font-size:16px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:119px;
  word-wrap:break-word;
}
#u37_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:23px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:23px;
  width:101px;
  height:23px;
  font-size:16px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:97px;
  word-wrap:break-word;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:23px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:23px;
  width:531px;
  height:23px;
  font-size:16px;
  text-align:left;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:2px;
  width:511px;
  word-wrap:break-word;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:23px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:46px;
  width:97px;
  height:23px;
  font-size:16px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:93px;
  word-wrap:break-word;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:23px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:46px;
  width:123px;
  height:23px;
  font-size:16px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:119px;
  word-wrap:break-word;
}
#u45_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:23px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:46px;
  width:101px;
  height:23px;
  font-size:16px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:97px;
  word-wrap:break-word;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:23px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:46px;
  width:531px;
  height:23px;
  font-size:16px;
  text-align:left;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:2px;
  width:511px;
  word-wrap:break-word;
}
#u49_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:72px;
  width:93px;
  height:21px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u52_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1620px;
  height:7px;
  background:inherit;
  background-color:rgba(51, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:882px;
  width:1620px;
  height:7px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:1616px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:874px;
  width:125px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:563px;
  width:460px;
  height:221px;
}
#u57_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:20px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:20px;
  text-align:left;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:224px;
  word-wrap:break-word;
}
#u59_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:20px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:0px;
  width:227px;
  height:20px;
  text-align:left;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:223px;
  word-wrap:break-word;
}
#u61_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:36px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:228px;
  height:36px;
  text-align:left;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:224px;
  word-wrap:break-word;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:36px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:20px;
  width:227px;
  height:36px;
  text-align:left;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:223px;
  word-wrap:break-word;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:20px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:228px;
  height:20px;
  text-align:left;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:224px;
  word-wrap:break-word;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:20px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:56px;
  width:227px;
  height:20px;
  text-align:left;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:223px;
  word-wrap:break-word;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:20px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:76px;
  width:228px;
  height:20px;
  text-align:left;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:224px;
  word-wrap:break-word;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:20px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:76px;
  width:227px;
  height:20px;
  text-align:left;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:223px;
  word-wrap:break-word;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:20px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:96px;
  width:228px;
  height:20px;
  text-align:left;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:224px;
  word-wrap:break-word;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:20px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:96px;
  width:227px;
  height:20px;
  text-align:left;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:223px;
  word-wrap:break-word;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:20px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:116px;
  width:228px;
  height:20px;
  text-align:left;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:224px;
  word-wrap:break-word;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:20px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:116px;
  width:227px;
  height:20px;
  text-align:left;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:223px;
  word-wrap:break-word;
}
#u81_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:20px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:136px;
  width:228px;
  height:20px;
  text-align:left;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:224px;
  word-wrap:break-word;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:20px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:136px;
  width:227px;
  height:20px;
  text-align:left;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:223px;
  word-wrap:break-word;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:20px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:156px;
  width:228px;
  height:20px;
  text-align:left;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:224px;
  word-wrap:break-word;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:20px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:156px;
  width:227px;
  height:20px;
  text-align:left;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:223px;
  word-wrap:break-word;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:20px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:176px;
  width:228px;
  height:20px;
  text-align:left;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:224px;
  word-wrap:break-word;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:20px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:176px;
  width:227px;
  height:20px;
  text-align:left;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:223px;
  word-wrap:break-word;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:20px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:196px;
  width:228px;
  height:20px;
  text-align:left;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:224px;
  word-wrap:break-word;
}
#u95_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:20px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:196px;
  width:227px;
  height:20px;
  text-align:left;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:223px;
  word-wrap:break-word;
}
