﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:783px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1770_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1770 {
  position:absolute;
  left:13px;
  top:7px;
  width:137px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1771 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u1772_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1772 {
  position:absolute;
  left:13px;
  top:922px;
  width:173px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1773 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u1774_div {
  position:absolute;
  left:0px;
  top:0px;
  width:717px;
  height:147px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1774 {
  position:absolute;
  left:41px;
  top:954px;
  width:717px;
  height:147px;
  font-size:16px;
}
#u1775 {
  position:absolute;
  left:0px;
  top:0px;
  width:717px;
  white-space:nowrap;
}
#u1776_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1776 {
  position:absolute;
  left:13px;
  top:1125px;
  width:137px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1777 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u1778 {
  position:absolute;
  left:41px;
  top:39px;
  width:747px;
  height:345px;
}
#u1779_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:42px;
}
#u1779 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:42px;
  font-size:16px;
}
#u1780 {
  position:absolute;
  left:2px;
  top:12px;
  width:195px;
  word-wrap:break-word;
}
#u1781_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:42px;
}
#u1781 {
  position:absolute;
  left:199px;
  top:0px;
  width:199px;
  height:42px;
  font-size:16px;
}
#u1782 {
  position:absolute;
  left:2px;
  top:12px;
  width:195px;
  word-wrap:break-word;
}
#u1783_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:42px;
}
#u1783 {
  position:absolute;
  left:398px;
  top:0px;
  width:199px;
  height:42px;
  font-size:16px;
}
#u1784 {
  position:absolute;
  left:2px;
  top:12px;
  width:195px;
  word-wrap:break-word;
}
#u1785_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
}
#u1785 {
  position:absolute;
  left:597px;
  top:0px;
  width:145px;
  height:42px;
  font-size:16px;
}
#u1786 {
  position:absolute;
  left:2px;
  top:12px;
  width:141px;
  word-wrap:break-word;
}
#u1787_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:42px;
}
#u1787 {
  position:absolute;
  left:0px;
  top:42px;
  width:199px;
  height:42px;
  font-size:16px;
}
#u1788 {
  position:absolute;
  left:2px;
  top:12px;
  width:195px;
  word-wrap:break-word;
}
#u1789_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:42px;
}
#u1789 {
  position:absolute;
  left:199px;
  top:42px;
  width:199px;
  height:42px;
  font-size:16px;
  text-align:left;
}
#u1790 {
  position:absolute;
  left:2px;
  top:12px;
  width:195px;
  word-wrap:break-word;
}
#u1791_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:42px;
}
#u1791 {
  position:absolute;
  left:398px;
  top:42px;
  width:199px;
  height:42px;
  font-size:16px;
  text-align:left;
}
#u1792 {
  position:absolute;
  left:2px;
  top:2px;
  width:195px;
  word-wrap:break-word;
}
#u1793_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
}
#u1793 {
  position:absolute;
  left:597px;
  top:42px;
  width:145px;
  height:42px;
  font-size:16px;
  text-align:left;
}
#u1794 {
  position:absolute;
  left:2px;
  top:13px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1795_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:42px;
}
#u1795 {
  position:absolute;
  left:0px;
  top:84px;
  width:199px;
  height:42px;
  font-size:16px;
}
#u1796 {
  position:absolute;
  left:2px;
  top:13px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1797_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:42px;
}
#u1797 {
  position:absolute;
  left:199px;
  top:84px;
  width:199px;
  height:42px;
  font-size:16px;
  text-align:left;
}
#u1798 {
  position:absolute;
  left:2px;
  top:12px;
  width:195px;
  word-wrap:break-word;
}
#u1799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:42px;
}
#u1799 {
  position:absolute;
  left:398px;
  top:84px;
  width:199px;
  height:42px;
  font-size:16px;
  text-align:left;
}
#u1800 {
  position:absolute;
  left:2px;
  top:2px;
  width:195px;
  word-wrap:break-word;
}
#u1801_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
}
#u1801 {
  position:absolute;
  left:597px;
  top:84px;
  width:145px;
  height:42px;
  font-size:16px;
  text-align:left;
}
#u1802 {
  position:absolute;
  left:2px;
  top:13px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1803_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:23px;
}
#u1803 {
  position:absolute;
  left:0px;
  top:126px;
  width:199px;
  height:23px;
  font-size:16px;
}
#u1804 {
  position:absolute;
  left:2px;
  top:2px;
  width:195px;
  word-wrap:break-word;
}
#u1805_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:23px;
}
#u1805 {
  position:absolute;
  left:199px;
  top:126px;
  width:199px;
  height:23px;
  font-size:16px;
  text-align:left;
}
#u1806 {
  position:absolute;
  left:2px;
  top:2px;
  width:195px;
  word-wrap:break-word;
}
#u1807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:23px;
}
#u1807 {
  position:absolute;
  left:398px;
  top:126px;
  width:199px;
  height:23px;
  font-size:16px;
  text-align:left;
}
#u1808 {
  position:absolute;
  left:2px;
  top:2px;
  width:195px;
  word-wrap:break-word;
}
#u1809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:23px;
}
#u1809 {
  position:absolute;
  left:597px;
  top:126px;
  width:145px;
  height:23px;
  font-size:16px;
  text-align:left;
}
#u1810 {
  position:absolute;
  left:2px;
  top:4px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:42px;
}
#u1811 {
  position:absolute;
  left:0px;
  top:149px;
  width:199px;
  height:42px;
  font-size:16px;
}
#u1812 {
  position:absolute;
  left:2px;
  top:12px;
  width:195px;
  word-wrap:break-word;
}
#u1813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:42px;
}
#u1813 {
  position:absolute;
  left:199px;
  top:149px;
  width:199px;
  height:42px;
  font-size:16px;
  text-align:left;
}
#u1814 {
  position:absolute;
  left:2px;
  top:12px;
  width:195px;
  word-wrap:break-word;
}
#u1815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:42px;
}
#u1815 {
  position:absolute;
  left:398px;
  top:149px;
  width:199px;
  height:42px;
  font-size:16px;
  text-align:left;
}
#u1816 {
  position:absolute;
  left:2px;
  top:2px;
  width:195px;
  word-wrap:break-word;
}
#u1817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
}
#u1817 {
  position:absolute;
  left:597px;
  top:149px;
  width:145px;
  height:42px;
  font-size:16px;
  text-align:left;
}
#u1818 {
  position:absolute;
  left:2px;
  top:13px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:42px;
}
#u1819 {
  position:absolute;
  left:0px;
  top:191px;
  width:199px;
  height:42px;
  font-size:16px;
}
#u1820 {
  position:absolute;
  left:2px;
  top:12px;
  width:195px;
  word-wrap:break-word;
}
#u1821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:42px;
}
#u1821 {
  position:absolute;
  left:199px;
  top:191px;
  width:199px;
  height:42px;
  font-size:16px;
  text-align:left;
}
#u1822 {
  position:absolute;
  left:2px;
  top:12px;
  width:195px;
  word-wrap:break-word;
}
#u1823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:42px;
}
#u1823 {
  position:absolute;
  left:398px;
  top:191px;
  width:199px;
  height:42px;
  font-size:16px;
  text-align:left;
}
#u1824 {
  position:absolute;
  left:2px;
  top:2px;
  width:195px;
  word-wrap:break-word;
}
#u1825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
}
#u1825 {
  position:absolute;
  left:597px;
  top:191px;
  width:145px;
  height:42px;
  font-size:16px;
  text-align:left;
}
#u1826 {
  position:absolute;
  left:2px;
  top:13px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:42px;
}
#u1827 {
  position:absolute;
  left:0px;
  top:233px;
  width:199px;
  height:42px;
  font-size:16px;
}
#u1828 {
  position:absolute;
  left:2px;
  top:12px;
  width:195px;
  word-wrap:break-word;
}
#u1829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:42px;
}
#u1829 {
  position:absolute;
  left:199px;
  top:233px;
  width:199px;
  height:42px;
  font-size:16px;
  text-align:left;
}
#u1830 {
  position:absolute;
  left:2px;
  top:12px;
  width:195px;
  word-wrap:break-word;
}
#u1831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:42px;
}
#u1831 {
  position:absolute;
  left:398px;
  top:233px;
  width:199px;
  height:42px;
  font-size:16px;
  text-align:left;
}
#u1832 {
  position:absolute;
  left:2px;
  top:2px;
  width:195px;
  word-wrap:break-word;
}
#u1833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
}
#u1833 {
  position:absolute;
  left:597px;
  top:233px;
  width:145px;
  height:42px;
  font-size:16px;
  text-align:left;
}
#u1834 {
  position:absolute;
  left:2px;
  top:13px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:23px;
}
#u1835 {
  position:absolute;
  left:0px;
  top:275px;
  width:199px;
  height:23px;
  font-size:16px;
}
#u1836 {
  position:absolute;
  left:2px;
  top:2px;
  width:195px;
  word-wrap:break-word;
}
#u1837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:23px;
}
#u1837 {
  position:absolute;
  left:199px;
  top:275px;
  width:199px;
  height:23px;
  font-size:16px;
  text-align:left;
}
#u1838 {
  position:absolute;
  left:2px;
  top:2px;
  width:195px;
  word-wrap:break-word;
}
#u1839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:23px;
}
#u1839 {
  position:absolute;
  left:398px;
  top:275px;
  width:199px;
  height:23px;
  font-size:16px;
  text-align:left;
}
#u1840 {
  position:absolute;
  left:2px;
  top:2px;
  width:195px;
  word-wrap:break-word;
}
#u1841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:23px;
}
#u1841 {
  position:absolute;
  left:597px;
  top:275px;
  width:145px;
  height:23px;
  font-size:16px;
  text-align:left;
}
#u1842 {
  position:absolute;
  left:2px;
  top:4px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:42px;
}
#u1843 {
  position:absolute;
  left:0px;
  top:298px;
  width:199px;
  height:42px;
  font-size:16px;
}
#u1844 {
  position:absolute;
  left:2px;
  top:12px;
  width:195px;
  word-wrap:break-word;
}
#u1845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:42px;
}
#u1845 {
  position:absolute;
  left:199px;
  top:298px;
  width:199px;
  height:42px;
  font-size:16px;
  text-align:left;
}
#u1846 {
  position:absolute;
  left:2px;
  top:12px;
  width:195px;
  word-wrap:break-word;
}
#u1847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:42px;
}
#u1847 {
  position:absolute;
  left:398px;
  top:298px;
  width:199px;
  height:42px;
  font-size:16px;
  text-align:left;
}
#u1848 {
  position:absolute;
  left:2px;
  top:2px;
  width:195px;
  word-wrap:break-word;
}
#u1849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
}
#u1849 {
  position:absolute;
  left:597px;
  top:298px;
  width:145px;
  height:42px;
  font-size:16px;
  text-align:left;
}
#u1850 {
  position:absolute;
  left:2px;
  top:13px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1851 {
  position:absolute;
  left:41px;
  top:1157px;
  width:202px;
  height:84px;
  font-size:16px;
}
#u1852 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  white-space:nowrap;
}
#u1853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1853 {
  position:absolute;
  left:41px;
  top:387px;
  width:211px;
  height:120px;
}
#u1854 {
  position:absolute;
  left:2px;
  top:52px;
  width:207px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:2px;
}
#u1855 {
  position:absolute;
  left:41px;
  top:469px;
  width:211px;
  height:1px;
}
#u1856 {
  position:absolute;
  left:2px;
  top:-8px;
  width:207px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#3399FF;
}
#u1857 {
  position:absolute;
  left:128px;
  top:476px;
  width:37px;
  height:24px;
  font-size:18px;
  color:#3399FF;
}
#u1858 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u1859 {
  position:absolute;
  left:68px;
  top:405px;
  width:129px;
  height:42px;
  font-size:16px;
  color:#666666;
}
#u1860 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:540px;
}
#u1861 {
  position:absolute;
  left:479px;
  top:387px;
  width:304px;
  height:540px;
}
#u1862 {
  position:absolute;
  left:2px;
  top:262px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1863 {
  position:absolute;
  left:262px;
  top:387px;
  width:211px;
  height:120px;
}
#u1864 {
  position:absolute;
  left:2px;
  top:52px;
  width:207px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:2px;
}
#u1865 {
  position:absolute;
  left:262px;
  top:469px;
  width:211px;
  height:1px;
}
#u1866 {
  position:absolute;
  left:2px;
  top:-8px;
  width:207px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#3399FF;
}
#u1867 {
  position:absolute;
  left:349px;
  top:476px;
  width:37px;
  height:24px;
  font-size:18px;
  color:#3399FF;
}
#u1868 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u1869 {
  position:absolute;
  left:289px;
  top:409px;
  width:129px;
  height:42px;
  font-size:16px;
  color:#666666;
}
#u1870 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1871 {
  position:absolute;
  left:678px;
  top:89px;
  width:22px;
  height:22px;
  color:#FFFFFF;
}
#u1872 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  word-wrap:break-word;
}
#u1873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1873 {
  position:absolute;
  left:215px;
  top:396px;
  width:22px;
  height:22px;
  color:#FFFFFF;
}
#u1874 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  word-wrap:break-word;
}
#u1875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1875 {
  position:absolute;
  left:440px;
  top:396px;
  width:22px;
  height:22px;
  color:#FFFFFF;
}
#u1876 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  word-wrap:break-word;
}
#u1877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1877 {
  position:absolute;
  left:710px;
  top:89px;
  width:22px;
  height:22px;
  color:#FFFFFF;
}
#u1878 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  word-wrap:break-word;
}
#u1879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1879 {
  position:absolute;
  left:678px;
  top:166px;
  width:22px;
  height:22px;
  color:#FFFFFF;
}
#u1880 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  word-wrap:break-word;
}
#u1881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1881 {
  position:absolute;
  left:678px;
  top:315px;
  width:22px;
  height:22px;
  color:#FFFFFF;
}
#u1882 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  word-wrap:break-word;
}
#u1883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:29px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1883 {
  position:absolute;
  left:105px;
  top:662px;
  width:243px;
  height:29px;
  opacity:0.5;
}
#u1884 {
  position:absolute;
  left:2px;
  top:6px;
  width:239px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u1885 {
  position:absolute;
  left:116px;
  top:665px;
  width:202px;
  height:21px;
  font-size:16px;
  color:#666666;
}
#u1886 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  white-space:nowrap;
}
#u1887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1887 {
  position:absolute;
  left:678px;
  top:238px;
  width:22px;
  height:22px;
  color:#FFFFFF;
}
#u1888 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  word-wrap:break-word;
}
#u1889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1889 {
  position:absolute;
  left:318px;
  top:666px;
  width:22px;
  height:22px;
  color:#FFFFFF;
}
#u1890 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  word-wrap:break-word;
}
#u1891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1891 {
  position:absolute;
  left:678px;
  top:134px;
  width:22px;
  height:22px;
  color:#FFFFFF;
}
#u1892 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  word-wrap:break-word;
}
#u1893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1893 {
  position:absolute;
  left:41px;
  top:517px;
  width:211px;
  height:120px;
}
#u1894 {
  position:absolute;
  left:2px;
  top:52px;
  width:207px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:2px;
}
#u1895 {
  position:absolute;
  left:41px;
  top:599px;
  width:211px;
  height:1px;
}
#u1896 {
  position:absolute;
  left:2px;
  top:-8px;
  width:207px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#3399FF;
}
#u1897 {
  position:absolute;
  left:172px;
  top:606px;
  width:55px;
  height:24px;
  font-size:18px;
  color:#3399FF;
}
#u1898 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u1899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u1899 {
  position:absolute;
  left:68px;
  top:535px;
  width:129px;
  height:42px;
  font-size:16px;
  color:#666666;
}
#u1900 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1901 {
  position:absolute;
  left:215px;
  top:526px;
  width:22px;
  height:22px;
  color:#FFFFFF;
}
#u1902 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  word-wrap:break-word;
}
#u1903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#3399FF;
}
#u1903 {
  position:absolute;
  left:74px;
  top:606px;
  width:37px;
  height:24px;
  font-size:18px;
  color:#3399FF;
}
#u1904 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:39px;
}
#u1905 {
  position:absolute;
  left:146px;
  top:599px;
  width:1px;
  height:38px;
}
#u1906 {
  position:absolute;
  left:2px;
  top:11px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1907 {
  position:absolute;
  left:678px;
  top:198px;
  width:22px;
  height:22px;
  color:#FFFFFF;
}
#u1908 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  word-wrap:break-word;
}
#u1909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:36px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1909 {
  position:absolute;
  left:105px;
  top:701px;
  width:243px;
  height:36px;
  opacity:0.5;
}
#u1910 {
  position:absolute;
  left:2px;
  top:10px;
  width:239px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u1911 {
  position:absolute;
  left:129px;
  top:708px;
  width:177px;
  height:21px;
  font-size:16px;
  color:#666666;
}
#u1912 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u1913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1913 {
  position:absolute;
  left:316px;
  top:708px;
  width:22px;
  height:22px;
  color:#FFFFFF;
}
#u1914 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  word-wrap:break-word;
}
#u1915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1915 {
  position:absolute;
  left:678px;
  top:283px;
  width:22px;
  height:22px;
  color:#FFFFFF;
}
#u1916 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  word-wrap:break-word;
}
#u1917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1917 {
  position:absolute;
  left:753px;
  top:396px;
  width:22px;
  height:22px;
  color:#FFFFFF;
}
#u1918 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  word-wrap:break-word;
}
#u1919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1919 {
  position:absolute;
  left:678px;
  top:347px;
  width:22px;
  height:22px;
  color:#FFFFFF;
}
#u1920 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  word-wrap:break-word;
}
#u1921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1921 {
  position:absolute;
  left:534px;
  top:728px;
  width:207px;
  height:40px;
}
#u1922 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  white-space:nowrap;
}
