﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:609px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u37_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u37 {
  position:absolute;
  left:6px;
  top:7px;
  width:145px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  height:26px;
}
#u39 {
  position:absolute;
  left:58px;
  top:45px;
  width:551px;
  height:26px;
  font-size:14px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:58px;
  top:71px;
  width:512px;
  height:238px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
  font-size:14px;
}
#u43 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:29px;
}
#u44 {
  position:absolute;
  left:100px;
  top:0px;
  width:407px;
  height:29px;
  font-size:14px;
}
#u45 {
  position:absolute;
  left:2px;
  top:6px;
  width:403px;
  word-wrap:break-word;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u46 {
  position:absolute;
  left:0px;
  top:29px;
  width:100px;
  height:68px;
  font-size:14px;
}
#u47 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  word-wrap:break-word;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:68px;
}
#u48 {
  position:absolute;
  left:100px;
  top:29px;
  width:407px;
  height:68px;
  font-size:14px;
}
#u49 {
  position:absolute;
  left:2px;
  top:26px;
  width:403px;
  word-wrap:break-word;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u50 {
  position:absolute;
  left:0px;
  top:97px;
  width:100px;
  height:68px;
  font-size:14px;
}
#u51 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  word-wrap:break-word;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:68px;
}
#u52 {
  position:absolute;
  left:100px;
  top:97px;
  width:407px;
  height:68px;
  font-size:14px;
}
#u53 {
  position:absolute;
  left:2px;
  top:26px;
  width:403px;
  word-wrap:break-word;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u54 {
  position:absolute;
  left:0px;
  top:165px;
  width:100px;
  height:68px;
  font-size:14px;
}
#u55 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  word-wrap:break-word;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:68px;
}
#u56 {
  position:absolute;
  left:100px;
  top:165px;
  width:407px;
  height:68px;
  font-size:14px;
}
#u57 {
  position:absolute;
  left:2px;
  top:26px;
  width:403px;
  word-wrap:break-word;
}
