﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1103px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u25_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u25 {
  position:absolute;
  left:18px;
  top:19px;
  width:145px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u27_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u27 {
  position:absolute;
  left:18px;
  top:225px;
  width:121px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u29_div {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:273px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u29 {
  position:absolute;
  left:685px;
  top:266px;
  width:418px;
  height:273px;
  font-size:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  word-wrap:break-word;
}
#u31_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u31 {
  position:absolute;
  left:18px;
  top:994px;
  width:161px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:59px;
  top:1038px;
  width:738px;
  height:223px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:42px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u35 {
  position:absolute;
  left:2px;
  top:12px;
  width:111px;
  word-wrap:break-word;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  height:42px;
}
#u36 {
  position:absolute;
  left:115px;
  top:0px;
  width:618px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u37 {
  position:absolute;
  left:2px;
  top:12px;
  width:614px;
  word-wrap:break-word;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:42px;
}
#u38 {
  position:absolute;
  left:0px;
  top:42px;
  width:115px;
  height:42px;
  font-size:16px;
  text-align:left;
}
#u39 {
  position:absolute;
  left:2px;
  top:12px;
  width:111px;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  height:42px;
}
#u40 {
  position:absolute;
  left:115px;
  top:42px;
  width:618px;
  height:42px;
  font-size:16px;
  text-align:left;
}
#u41 {
  position:absolute;
  left:2px;
  top:12px;
  width:614px;
  word-wrap:break-word;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:32px;
}
#u42 {
  position:absolute;
  left:0px;
  top:84px;
  width:115px;
  height:32px;
  font-size:16px;
  text-align:left;
}
#u43 {
  position:absolute;
  left:2px;
  top:6px;
  width:111px;
  word-wrap:break-word;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  height:32px;
}
#u44 {
  position:absolute;
  left:115px;
  top:84px;
  width:618px;
  height:32px;
  font-size:16px;
  text-align:left;
}
#u45 {
  position:absolute;
  left:2px;
  top:6px;
  width:614px;
  word-wrap:break-word;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:28px;
}
#u46 {
  position:absolute;
  left:0px;
  top:116px;
  width:115px;
  height:28px;
  font-size:16px;
  text-align:left;
}
#u47 {
  position:absolute;
  left:2px;
  top:4px;
  width:111px;
  word-wrap:break-word;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  height:28px;
}
#u48 {
  position:absolute;
  left:115px;
  top:116px;
  width:618px;
  height:28px;
  font-size:16px;
  text-align:left;
}
#u49 {
  position:absolute;
  left:2px;
  top:4px;
  width:614px;
  word-wrap:break-word;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:36px;
}
#u50 {
  position:absolute;
  left:0px;
  top:144px;
  width:115px;
  height:36px;
  font-size:16px;
  text-align:left;
}
#u51 {
  position:absolute;
  left:2px;
  top:8px;
  width:111px;
  word-wrap:break-word;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  height:36px;
}
#u52 {
  position:absolute;
  left:115px;
  top:144px;
  width:618px;
  height:36px;
  font-size:16px;
  text-align:left;
}
#u53 {
  position:absolute;
  left:2px;
  top:8px;
  width:614px;
  word-wrap:break-word;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:38px;
}
#u54 {
  position:absolute;
  left:0px;
  top:180px;
  width:115px;
  height:38px;
  font-size:16px;
  text-align:left;
}
#u55 {
  position:absolute;
  left:2px;
  top:10px;
  width:111px;
  word-wrap:break-word;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  height:38px;
}
#u56 {
  position:absolute;
  left:115px;
  top:180px;
  width:618px;
  height:38px;
  font-size:16px;
  text-align:left;
}
#u57 {
  position:absolute;
  left:2px;
  top:10px;
  width:614px;
  word-wrap:break-word;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:861px;
  height:98px;
}
#u58 {
  position:absolute;
  left:18px;
  top:79px;
  width:861px;
  height:98px;
}
#u59 {
  position:absolute;
  left:2px;
  top:41px;
  width:857px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:709px;
}
#u60 {
  position:absolute;
  left:18px;
  top:259px;
  width:451px;
  height:709px;
}
#u61 {
  position:absolute;
  left:2px;
  top:346px;
  width:447px;
  visibility:hidden;
  word-wrap:break-word;
}
