﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:669px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  height:25px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  height:25px;
  font-size:18px;
  line-height:20px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  word-wrap:break-word;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  height:25px;
}
#u82 {
  position:absolute;
  left:0px;
  top:35px;
  width:551px;
  height:25px;
  font-size:18px;
  line-height:20px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  word-wrap:break-word;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:631px;
  height:817px;
}
#u84 {
  position:absolute;
  left:38px;
  top:97px;
  width:631px;
  height:817px;
}
#u85 {
  position:absolute;
  left:2px;
  top:400px;
  width:627px;
  visibility:hidden;
  word-wrap:break-word;
}
