﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1188px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u43_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:522px;
}
#u45 {
  position:absolute;
  left:54px;
  top:342px;
  width:294px;
  height:522px;
}
#u46 {
  position:absolute;
  left:2px;
  top:253px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:522px;
}
#u47 {
  position:absolute;
  left:68px;
  top:926px;
  width:294px;
  height:522px;
}
#u48 {
  position:absolute;
  left:2px;
  top:253px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:522px;
}
#u49 {
  position:absolute;
  left:68px;
  top:1519px;
  width:294px;
  height:522px;
}
#u50 {
  position:absolute;
  left:2px;
  top:253px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  height:25px;
}
#u51 {
  position:absolute;
  left:47px;
  top:317px;
  width:551px;
  height:25px;
  font-size:14px;
  line-height:20px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  word-wrap:break-word;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  height:21px;
}
#u53 {
  position:absolute;
  left:37px;
  top:874px;
  width:551px;
  height:21px;
  font-size:14px;
  line-height:20px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  height:21px;
}
#u55 {
  position:absolute;
  left:68px;
  top:905px;
  width:551px;
  height:21px;
  font-size:14px;
  line-height:20px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  word-wrap:break-word;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  height:21px;
}
#u57 {
  position:absolute;
  left:68px;
  top:1498px;
  width:551px;
  height:21px;
  font-size:14px;
  line-height:20px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:411px;
  top:653px;
  width:0px;
  height:0px;
}
#u59_seg0 {
  position:absolute;
  left:-303px;
  top:-3px;
  width:304px;
  height:6px;
}
#u60 {
  position:absolute;
  left:-201px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u61 {
  position:absolute;
  left:419px;
  top:644px;
  width:57px;
  height:16px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u63_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u63 {
  position:absolute;
  left:422px;
  top:507px;
  width:71px;
  height:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:410px;
  top:515px;
  width:0px;
  height:0px;
}
#u65_seg0 {
  position:absolute;
  left:-86px;
  top:-3px;
  width:86px;
  height:6px;
}
#u66 {
  position:absolute;
  left:-92px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67 {
  position:absolute;
  left:419px;
  top:679px;
  width:57px;
  height:16px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u69_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u69 {
  position:absolute;
  left:492px;
  top:679px;
  width:57px;
  height:16px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u71_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71 {
  position:absolute;
  left:455px;
  top:679px;
  width:33px;
  height:16px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:413px;
  top:690px;
  width:0px;
  height:0px;
}
#u73_seg0 {
  position:absolute;
  left:-65px;
  top:-4px;
  width:66px;
  height:8px;
}
#u74 {
  position:absolute;
  left:-82px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 153, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u75 {
  position:absolute;
  left:54px;
  top:660px;
  width:294px;
  height:60px;
}
#u76 {
  position:absolute;
  left:2px;
  top:22px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u77 {
  position:absolute;
  left:417px;
  top:1244px;
  width:57px;
  height:16px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:403px;
  top:1254px;
  width:0px;
  height:0px;
}
#u79_seg0 {
  position:absolute;
  left:-227px;
  top:-4px;
  width:228px;
  height:10px;
  -webkit-transform:rotate(-0.509282404977526deg);
  -moz-transform:rotate(-0.509282404977526deg);
  -ms-transform:rotate(-0.509282404977526deg);
  transform:rotate(-0.509282404977526deg);
}
#u80 {
  position:absolute;
  left:-162px;
  top:-7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u81 {
  position:absolute;
  left:419px;
  top:1355px;
  width:57px;
  height:16px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:396px;
  top:1364px;
  width:0px;
  height:0px;
}
#u83_seg0 {
  position:absolute;
  left:-44px;
  top:-4px;
  width:44px;
  height:8px;
}
#u84 {
  position:absolute;
  left:-71px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u85 {
  position:absolute;
  left:412px;
  top:1043px;
  width:71px;
  height:16px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:406px;
  top:1052px;
  width:0px;
  height:0px;
}
#u87_seg0 {
  position:absolute;
  left:-72px;
  top:-4px;
  width:72px;
  height:8px;
}
#u88 {
  position:absolute;
  left:-86px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 153, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u89 {
  position:absolute;
  left:60px;
  top:1342px;
  width:294px;
  height:60px;
}
#u90 {
  position:absolute;
  left:2px;
  top:22px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u91 {
  position:absolute;
  left:412px;
  top:1800px;
  width:57px;
  height:16px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:399px;
  top:1810px;
  width:0px;
  height:0px;
}
#u93_seg0 {
  position:absolute;
  left:-225px;
  top:-4px;
  width:226px;
  height:10px;
  -webkit-transform:rotate(-0.513849716354135deg);
  -moz-transform:rotate(-0.513849716354135deg);
  -ms-transform:rotate(-0.513849716354135deg);
  transform:rotate(-0.513849716354135deg);
}
#u94 {
  position:absolute;
  left:-161px;
  top:-7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u95 {
  position:absolute;
  left:412px;
  top:1634px;
  width:71px;
  height:16px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:405px;
  top:1644px;
  width:0px;
  height:0px;
}
#u97_seg0 {
  position:absolute;
  left:-55px;
  top:-4px;
  width:56px;
  height:8px;
}
#u98 {
  position:absolute;
  left:-77px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u99 {
  position:absolute;
  left:412px;
  top:1837px;
  width:57px;
  height:16px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u101 {
  position:absolute;
  left:493px;
  top:1837px;
  width:57px;
  height:19px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u103 {
  position:absolute;
  left:450px;
  top:1837px;
  width:33px;
  height:16px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:398px;
  top:1848px;
  width:0px;
  height:0px;
}
#u105_seg0 {
  position:absolute;
  left:-200px;
  top:-2px;
  width:202px;
  height:8px;
  -webkit-transform:rotate(-0.868051449745542deg);
  -moz-transform:rotate(-0.868051449745542deg);
  -ms-transform:rotate(-0.868051449745542deg);
  transform:rotate(-0.868051449745542deg);
}
#u106 {
  position:absolute;
  left:-149px;
  top:-6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 153, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107 {
  position:absolute;
  left:60px;
  top:1821px;
  width:140px;
  height:59px;
}
#u108 {
  position:absolute;
  left:2px;
  top:22px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:196px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 153, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u109 {
  position:absolute;
  left:54px;
  top:428px;
  width:294px;
  height:196px;
}
#u110 {
  position:absolute;
  left:2px;
  top:90px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 153, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u111 {
  position:absolute;
  left:54px;
  top:645px;
  width:59px;
  height:15px;
}
#u112 {
  position:absolute;
  left:2px;
  top:0px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:224px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 153, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u113 {
  position:absolute;
  left:68px;
  top:1015px;
  width:294px;
  height:224px;
}
#u114 {
  position:absolute;
  left:2px;
  top:104px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 153, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u115 {
  position:absolute;
  left:68px;
  top:1239px;
  width:112px;
  height:27px;
}
#u116 {
  position:absolute;
  left:2px;
  top:6px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:184px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 153, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u117 {
  position:absolute;
  left:54px;
  top:1611px;
  width:308px;
  height:184px;
}
#u118 {
  position:absolute;
  left:2px;
  top:84px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 153, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119 {
  position:absolute;
  left:68px;
  top:1805px;
  width:106px;
  height:16px;
}
#u120 {
  position:absolute;
  left:2px;
  top:0px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u121 {
  position:absolute;
  left:565px;
  top:493px;
  width:410px;
  height:95px;
  font-size:16px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  word-wrap:break-word;
}
#u123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u123 {
  position:absolute;
  left:74px;
  top:83px;
  width:514px;
  height:48px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  white-space:nowrap;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  height:25px;
}
#u125 {
  position:absolute;
  left:21px;
  top:38px;
  width:551px;
  height:25px;
  font-size:18px;
  line-height:20px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  word-wrap:break-word;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  height:25px;
}
#u127 {
  position:absolute;
  left:21px;
  top:270px;
  width:551px;
  height:25px;
  font-size:18px;
  line-height:20px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  word-wrap:break-word;
}
#u129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u129 {
  position:absolute;
  left:74px;
  top:138px;
  width:514px;
  height:64px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  white-space:nowrap;
}
#u131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u131 {
  position:absolute;
  left:47px;
  top:295px;
  width:267px;
  height:16px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  white-space:nowrap;
}
#u133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u133 {
  position:absolute;
  left:605px;
  top:1209px;
  width:410px;
  height:57px;
  font-size:16px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  word-wrap:break-word;
}
#u135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:605px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u135 {
  position:absolute;
  left:583px;
  top:1656px;
  width:605px;
  height:95px;
  font-size:16px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:605px;
  word-wrap:break-word;
}
#u137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u137 {
  position:absolute;
  left:47px;
  top:63px;
  width:165px;
  height:19px;
  font-size:16px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u139 {
  position:absolute;
  left:37px;
  top:209px;
  width:209px;
  height:19px;
  font-size:16px;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u141 {
  position:absolute;
  left:74px;
  top:236px;
  width:225px;
  height:16px;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
