﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1283px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  height:25px;
}
#u1358 {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  height:25px;
  font-size:18px;
  line-height:20px;
}
#u1359 {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  word-wrap:break-word;
}
#u1360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:708px;
}
#u1360 {
  position:absolute;
  left:876px;
  top:67px;
  width:399px;
  height:708px;
}
#u1361 {
  position:absolute;
  left:2px;
  top:346px;
  width:395px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:708px;
}
#u1362 {
  position:absolute;
  left:13px;
  top:67px;
  width:399px;
  height:708px;
}
#u1363 {
  position:absolute;
  left:2px;
  top:346px;
  width:395px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:708px;
}
#u1364 {
  position:absolute;
  left:449px;
  top:67px;
  width:399px;
  height:708px;
}
#u1365 {
  position:absolute;
  left:2px;
  top:346px;
  width:395px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1366 {
  position:absolute;
  left:13px;
  top:35px;
  width:487px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1367 {
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  white-space:nowrap;
}
#u1368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:64px;
  background:inherit;
  background-color:rgba(235, 0, 40, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1368 {
  position:absolute;
  left:251px;
  top:711px;
  width:161px;
  height:64px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1369 {
  position:absolute;
  left:2px;
  top:21px;
  width:157px;
  word-wrap:break-word;
}
#u1370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:246px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1370 {
  position:absolute;
  left:21px;
  top:449px;
  width:383px;
  height:246px;
}
#u1371 {
  position:absolute;
  left:2px;
  top:115px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:33px;
  background:inherit;
  background-color:rgba(57, 58, 63, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1372 {
  position:absolute;
  left:77px;
  top:107px;
  width:140px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1373 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u1374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1374 {
  position:absolute;
  left:457px;
  top:602px;
  width:391px;
  height:27px;
}
#u1375 {
  position:absolute;
  left:2px;
  top:6px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1376_img {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:27px;
}
#u1376 {
  position:absolute;
  left:452px;
  top:601px;
  width:396px;
  height:27px;
}
#u1377 {
  position:absolute;
  left:2px;
  top:6px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:55px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1378 {
  position:absolute;
  left:449px;
  top:634px;
  width:399px;
  height:55px;
}
#u1379 {
  position:absolute;
  left:2px;
  top:20px;
  width:395px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:297px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1380 {
  position:absolute;
  left:876px;
  top:416px;
  width:399px;
  height:297px;
}
#u1381 {
  position:absolute;
  left:2px;
  top:140px;
  width:395px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:222px;
}
#u1382 {
  position:absolute;
  left:878px;
  top:252px;
  width:396px;
  height:222px;
}
#u1383 {
  position:absolute;
  left:2px;
  top:103px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1384 {
  position:absolute;
  left:992px;
  top:472px;
  width:181px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1385 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u1386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(235, 0, 40, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1386 {
  position:absolute;
  left:1006px;
  top:509px;
  width:140px;
  height:40px;
  font-size:18px;
}
#u1387 {
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u1388_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1388 {
  position:absolute;
  left:991px;
  top:208px;
  width:220px;
  height:34px;
}
#u1389 {
  position:absolute;
  left:2px;
  top:9px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1390_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#EB0028;
}
#u1390 {
  position:absolute;
  left:998px;
  top:220px;
  width:181px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#EB0028;
}
#u1391 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u1392_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1392 {
  position:absolute;
  left:197px;
  top:114px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u1393 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1394_div {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1394 {
  position:absolute;
  left:51px;
  top:817px;
  width:347px;
  height:19px;
  font-size:16px;
}
#u1395 {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  white-space:nowrap;
}
#u1396_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1396 {
  position:absolute;
  left:21px;
  top:817px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u1397 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1398_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1398 {
  position:absolute;
  left:21px;
  top:861px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u1399 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1400 {
  position:absolute;
  left:384px;
  top:435px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u1401 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1402 {
  position:absolute;
  left:51px;
  top:862px;
  width:385px;
  height:38px;
  font-size:16px;
}
#u1403 {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  white-space:nowrap;
}
#u1404_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1404 {
  position:absolute;
  left:21px;
  top:917px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u1405 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1406 {
  position:absolute;
  left:51px;
  top:918px;
  width:187px;
  height:19px;
  font-size:16px;
}
#u1407 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u1408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1408 {
  position:absolute;
  left:398px;
  top:767px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u1409 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1410 {
  position:absolute;
  left:837px;
  top:628px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u1411 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1412_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1412 {
  position:absolute;
  left:452px;
  top:785px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u1413 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1414 {
  position:absolute;
  left:482px;
  top:786px;
  width:337px;
  height:38px;
  font-size:16px;
}
#u1415 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u1416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1416 {
  position:absolute;
  left:487px;
  top:651px;
  width:321px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1417 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  white-space:nowrap;
}
#u1418_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1418 {
  position:absolute;
  left:452px;
  top:843px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u1419 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1420 {
  position:absolute;
  left:482px;
  top:843px;
  width:305px;
  height:19px;
  font-size:16px;
}
#u1421 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  white-space:nowrap;
}
#u1422_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1422 {
  position:absolute;
  left:808px;
  top:663px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u1423 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1424 {
  position:absolute;
  left:449px;
  top:562px;
  width:81px;
  height:29px;
}
#u1425 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u1426_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1426 {
  position:absolute;
  left:596px;
  top:562px;
  width:81px;
  height:29px;
}
#u1427 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1428_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1428 {
  position:absolute;
  left:891px;
  top:795px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u1429 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1430_div {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1430 {
  position:absolute;
  left:921px;
  top:795px;
  width:299px;
  height:19px;
  font-size:16px;
}
#u1431 {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  white-space:nowrap;
}
#u1432_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1432 {
  position:absolute;
  left:891px;
  top:834px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u1433 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1434_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1434 {
  position:absolute;
  left:921px;
  top:834px;
  width:337px;
  height:38px;
  font-size:16px;
}
#u1435 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u1436_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1436 {
  position:absolute;
  left:1189px;
  top:220px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u1437 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1438_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1438 {
  position:absolute;
  left:1263px;
  top:454px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u1439 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1440_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1440 {
  position:absolute;
  left:891px;
  top:888px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u1441 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1442_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1442 {
  position:absolute;
  left:921px;
  top:888px;
  width:129px;
  height:19px;
  font-size:16px;
}
#u1443 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1444_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1444 {
  position:absolute;
  left:1183px;
  top:474px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u1445 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1446_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1446 {
  position:absolute;
  left:891px;
  top:934px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u1447 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1448_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1448 {
  position:absolute;
  left:921px;
  top:934px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u1449 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1450_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1450 {
  position:absolute;
  left:1139px;
  top:538px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u1451 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1452 {
  position:absolute;
  left:412px;
  top:743px;
  width:0px;
  height:0px;
}
#u1452_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:22px;
  height:8px;
}
#u1452_seg1 {
  position:absolute;
  left:14px;
  top:-326px;
  width:8px;
  height:330px;
}
#u1452_seg2 {
  position:absolute;
  left:14px;
  top:-326px;
  width:23px;
  height:8px;
}
#u1452_seg3 {
  position:absolute;
  left:24px;
  top:-332px;
  width:20px;
  height:20px;
}
#u1453 {
  position:absolute;
  left:-32px;
  top:-170px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1454 {
  position:absolute;
  left:816px;
  top:740px;
  width:0px;
  height:0px;
}
#u1454_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:53px;
  height:8px;
}
#u1454_seg1 {
  position:absolute;
  left:45px;
  top:-371px;
  width:8px;
  height:375px;
}
#u1454_seg2 {
  position:absolute;
  left:45px;
  top:-371px;
  width:21px;
  height:8px;
}
#u1454_seg3 {
  position:absolute;
  left:53px;
  top:-377px;
  width:20px;
  height:20px;
}
#u1455 {
  position:absolute;
  left:-1px;
  top:-176px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1456_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1456 {
  position:absolute;
  left:596px;
  top:724px;
  width:77px;
  height:34px;
}
#u1457 {
  position:absolute;
  left:2px;
  top:9px;
  width:73px;
  word-wrap:break-word;
}
#u1458_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1458 {
  position:absolute;
  left:663px;
  top:748px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u1459 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1460_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1460 {
  position:absolute;
  left:452px;
  top:894px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u1461 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1462_div {
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1462 {
  position:absolute;
  left:482px;
  top:895px;
  width:389px;
  height:19px;
  font-size:16px;
}
#u1463 {
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  white-space:nowrap;
}
