﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
  background:inherit;
  background-color:rgba(51, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u927 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u928 {
  position:absolute;
  left:2px;
  top:17px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u929 {
  position:absolute;
  left:19px;
  top:7px;
  width:137px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u930 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u931 {
  position:absolute;
  left:18px;
  top:80px;
  width:893px;
  height:189px;
}
#u932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:42px;
}
#u932 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:42px;
  font-size:16px;
  color:#FFFFFF;
}
#u933 {
  position:absolute;
  left:10px;
  top:12px;
  width:98px;
  word-wrap:break-word;
}
#u934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:42px;
}
#u934 {
  position:absolute;
  left:118px;
  top:0px;
  width:123px;
  height:42px;
  font-size:16px;
  color:#FFFFFF;
}
#u935 {
  position:absolute;
  left:10px;
  top:12px;
  width:103px;
  word-wrap:break-word;
}
#u936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:42px;
}
#u936 {
  position:absolute;
  left:241px;
  top:0px;
  width:151px;
  height:42px;
  font-size:16px;
  color:#FFFFFF;
}
#u937 {
  position:absolute;
  left:10px;
  top:12px;
  width:131px;
  word-wrap:break-word;
}
#u938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:496px;
  height:42px;
}
#u938 {
  position:absolute;
  left:392px;
  top:0px;
  width:496px;
  height:42px;
  font-size:16px;
  color:#FFFFFF;
}
#u939 {
  position:absolute;
  left:10px;
  top:12px;
  width:476px;
  word-wrap:break-word;
}
#u940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:42px;
}
#u940 {
  position:absolute;
  left:0px;
  top:42px;
  width:118px;
  height:42px;
  font-size:16px;
}
#u941 {
  position:absolute;
  left:10px;
  top:13px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:42px;
}
#u942 {
  position:absolute;
  left:118px;
  top:42px;
  width:123px;
  height:42px;
  font-size:16px;
  text-align:left;
}
#u943 {
  position:absolute;
  left:10px;
  top:13px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:42px;
}
#u944 {
  position:absolute;
  left:241px;
  top:42px;
  width:151px;
  height:42px;
  font-size:16px;
  text-align:left;
}
#u945 {
  position:absolute;
  left:10px;
  top:13px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:496px;
  height:42px;
}
#u946 {
  position:absolute;
  left:392px;
  top:42px;
  width:496px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u947 {
  position:absolute;
  left:10px;
  top:13px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:61px;
}
#u948 {
  position:absolute;
  left:0px;
  top:84px;
  width:118px;
  height:61px;
  font-size:16px;
}
#u949 {
  position:absolute;
  left:10px;
  top:22px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:61px;
}
#u950 {
  position:absolute;
  left:118px;
  top:84px;
  width:123px;
  height:61px;
  font-size:16px;
  text-align:left;
}
#u951 {
  position:absolute;
  left:10px;
  top:22px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:61px;
}
#u952 {
  position:absolute;
  left:241px;
  top:84px;
  width:151px;
  height:61px;
  font-size:16px;
  text-align:left;
}
#u953 {
  position:absolute;
  left:10px;
  top:22px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:496px;
  height:61px;
}
#u954 {
  position:absolute;
  left:392px;
  top:84px;
  width:496px;
  height:61px;
  font-size:16px;
  text-align:left;
}
#u955 {
  position:absolute;
  left:10px;
  top:22px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:39px;
}
#u956 {
  position:absolute;
  left:0px;
  top:145px;
  width:118px;
  height:39px;
  font-size:16px;
}
#u957 {
  position:absolute;
  left:10px;
  top:12px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:39px;
}
#u958 {
  position:absolute;
  left:118px;
  top:145px;
  width:123px;
  height:39px;
  font-size:16px;
}
#u959 {
  position:absolute;
  left:10px;
  top:12px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:39px;
}
#u960 {
  position:absolute;
  left:241px;
  top:145px;
  width:151px;
  height:39px;
  font-size:16px;
}
#u961 {
  position:absolute;
  left:10px;
  top:12px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:496px;
  height:39px;
}
#u962 {
  position:absolute;
  left:392px;
  top:145px;
  width:496px;
  height:39px;
  font-size:16px;
}
#u963 {
  position:absolute;
  left:10px;
  top:12px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:7px;
  background:inherit;
  background-color:rgba(51, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u965 {
  position:absolute;
  left:0px;
  top:358px;
  width:1200px;
  height:7px;
}
#u966 {
  position:absolute;
  left:2px;
  top:-4px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u967 {
  position:absolute;
  left:538px;
  top:351px;
  width:125px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u968 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
