﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2068px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:675px;
  background:inherit;
  background-color:rgba(255, 0, 0, 0.109803921568627);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u280 {
  position:absolute;
  left:955px;
  top:1182px;
  width:384px;
  height:675px;
}
#u281 {
  position:absolute;
  left:2px;
  top:330px;
  width:380px;
  visibility:hidden;
  word-wrap:break-word;
}
#u282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:675px;
  background:inherit;
  background-color:rgba(255, 0, 0, 0.109803921568627);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u282 {
  position:absolute;
  left:515px;
  top:1182px;
  width:384px;
  height:675px;
}
#u283 {
  position:absolute;
  left:2px;
  top:330px;
  width:380px;
  visibility:hidden;
  word-wrap:break-word;
}
#u284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:675px;
  background:inherit;
  background-color:rgba(255, 0, 0, 0.109803921568627);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u284 {
  position:absolute;
  left:515px;
  top:279px;
  width:384px;
  height:675px;
}
#u285 {
  position:absolute;
  left:2px;
  top:330px;
  width:380px;
  visibility:hidden;
  word-wrap:break-word;
}
#u286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:675px;
  background:inherit;
  background-color:rgba(255, 0, 0, 0.109803921568627);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u286 {
  position:absolute;
  left:65px;
  top:279px;
  width:384px;
  height:675px;
}
#u287 {
  position:absolute;
  left:2px;
  top:330px;
  width:380px;
  visibility:hidden;
  word-wrap:break-word;
}
#u288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:675px;
  background:inherit;
  background-color:rgba(255, 0, 0, 0.109803921568627);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u288 {
  position:absolute;
  left:1405px;
  top:278px;
  width:384px;
  height:675px;
}
#u289 {
  position:absolute;
  left:2px;
  top:330px;
  width:380px;
  visibility:hidden;
  word-wrap:break-word;
}
#u290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:675px;
  background:inherit;
  background-color:rgba(255, 0, 0, 0.109803921568627);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u290 {
  position:absolute;
  left:955px;
  top:278px;
  width:384px;
  height:675px;
}
#u291 {
  position:absolute;
  left:2px;
  top:330px;
  width:380px;
  visibility:hidden;
  word-wrap:break-word;
}
#u292_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:1860px;
  height:10px;
}
#u292 {
  position:absolute;
  left:65px;
  top:117px;
  width:1855px;
  height:5px;
}
#u293 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1851px;
  visibility:hidden;
  word-wrap:break-word;
}
#u294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-style:normal;
}
#u294 {
  position:absolute;
  left:65px;
  top:70px;
  width:306px;
  height:45px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-style:normal;
}
#u295 {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  word-wrap:break-word;
}
#u296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u296 {
  position:absolute;
  left:1069px;
  top:223px;
  width:161px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u297 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u298_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u298 {
  position:absolute;
  left:1519px;
  top:223px;
  width:161px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u299 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u300 {
  position:absolute;
  left:967px;
  top:296px;
  width:360px;
  height:640px;
}
#u301 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u302 {
  position:absolute;
  left:1417px;
  top:296px;
  width:360px;
  height:640px;
}
#u303 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u304 {
  position:absolute;
  left:77px;
  top:295px;
  width:360px;
  height:640px;
}
#u305 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u306 {
  position:absolute;
  left:527px;
  top:295px;
  width:360px;
  height:640px;
}
#u307 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u308 {
  position:absolute;
  left:156px;
  top:223px;
  width:161px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u309 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u310 {
  position:absolute;
  left:606px;
  top:223px;
  width:161px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u311 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u312 {
  position:absolute;
  left:71px;
  top:339px;
  width:372px;
  height:62px;
}
#u313 {
  position:absolute;
  left:2px;
  top:23px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u314 {
  position:absolute;
  left:521px;
  top:339px;
  width:372px;
  height:62px;
}
#u315 {
  position:absolute;
  left:2px;
  top:23px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 255, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u316 {
  position:absolute;
  left:961px;
  top:339px;
  width:372px;
  height:62px;
}
#u317 {
  position:absolute;
  left:2px;
  top:23px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 255, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u318 {
  position:absolute;
  left:1411px;
  top:339px;
  width:372px;
  height:62px;
}
#u319 {
  position:absolute;
  left:2px;
  top:23px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u320 {
  position:absolute;
  left:527px;
  top:1199px;
  width:360px;
  height:640px;
}
#u321 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u322 {
  position:absolute;
  left:967px;
  top:1199px;
  width:360px;
  height:640px;
}
#u323 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u324 {
  position:absolute;
  left:1069px;
  top:1116px;
  width:161px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u325 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u326 {
  position:absolute;
  left:627px;
  top:1116px;
  width:161px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u327 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u328_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:81px;
}
#u328 {
  position:absolute;
  left:257px;
  top:964px;
  width:3px;
  height:78px;
}
#u329 {
  position:absolute;
  left:2px;
  top:31px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u330_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:896px;
  height:6px;
}
#u330 {
  position:absolute;
  left:257px;
  top:1041px;
  width:893px;
  height:3px;
}
#u331 {
  position:absolute;
  left:2px;
  top:-6px;
  width:889px;
  visibility:hidden;
  word-wrap:break-word;
}
#u332_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:23px;
  height:90px;
}
#u332p000 {
  position:absolute;
  left:-39px;
  top:37px;
  width:81px;
  height:4px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u332p000_img {
  position:absolute;
  left:-15px;
  top:-8px;
  width:102px;
  height:18px;
}
#u332p001 {
  position:absolute;
  left:-9px;
  top:-4px;
  width:20px;
  height:20px;
}
#u332p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:40px;
  height:32px;
}
#u332.compound {
  width:0px;
  height:0px;
}
#u332 {
  position:absolute;
  left:1147px;
  top:964px;
  width:3px;
  height:78px;
}
#u333 {
  position:absolute;
  left:2px;
  top:31px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u334_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:36px;
}
#u334 {
  position:absolute;
  left:685px;
  top:977px;
  width:3px;
  height:33px;
}
#u335 {
  position:absolute;
  left:2px;
  top:8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u336_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:918px;
  height:6px;
}
#u336 {
  position:absolute;
  left:685px;
  top:1007px;
  width:915px;
  height:3px;
}
#u337 {
  position:absolute;
  left:2px;
  top:-6px;
  width:911px;
  visibility:hidden;
  word-wrap:break-word;
}
#u338_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:23px;
  height:58px;
}
#u338p000 {
  position:absolute;
  left:-23px;
  top:21px;
  width:49px;
  height:4px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u338p000_img {
  position:absolute;
  left:-15px;
  top:-7px;
  width:70px;
  height:18px;
}
#u338p001 {
  position:absolute;
  left:-9px;
  top:-4px;
  width:20px;
  height:20px;
}
#u338p001_img {
  position:absolute;
  left:-11px;
  top:-10px;
  width:42px;
  height:32px;
}
#u338.compound {
  width:0px;
  height:0px;
}
#u338 {
  position:absolute;
  left:1596px;
  top:964px;
  width:3px;
  height:46px;
}
#u339 {
  position:absolute;
  left:2px;
  top:15px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u340_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:81px;
}
#u340 {
  position:absolute;
  left:682px;
  top:1867px;
  width:3px;
  height:78px;
}
#u341 {
  position:absolute;
  left:2px;
  top:31px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u342_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:468px;
  height:6px;
}
#u342 {
  position:absolute;
  left:685px;
  top:1944px;
  width:465px;
  height:3px;
}
#u343 {
  position:absolute;
  left:2px;
  top:-6px;
  width:461px;
  visibility:hidden;
  word-wrap:break-word;
}
#u344_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:23px;
  height:90px;
}
#u344p000 {
  position:absolute;
  left:-39px;
  top:37px;
  width:81px;
  height:4px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u344p000_img {
  position:absolute;
  left:-15px;
  top:-7px;
  width:102px;
  height:16px;
}
#u344p001 {
  position:absolute;
  left:-9px;
  top:-4px;
  width:20px;
  height:20px;
}
#u344p001_img {
  position:absolute;
  left:-10px;
  top:-11px;
  width:40px;
  height:34px;
}
#u344.compound {
  width:0px;
  height:0px;
}
#u344 {
  position:absolute;
  left:1147px;
  top:1867px;
  width:3px;
  height:78px;
}
#u345 {
  position:absolute;
  left:2px;
  top:31px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u346 {
  position:absolute;
  left:1875px;
  top:364px;
  width:193px;
  height:56px;
}
#u347 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u348_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:91px;
  height:22px;
}
#u348p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:82px;
  height:2px;
}
#u348p000_img {
  position:absolute;
  left:-2px;
  top:-11px;
  width:94px;
  height:24px;
}
#u348p001 {
  position:absolute;
  left:65px;
  top:-9px;
  width:20px;
  height:20px;
}
#u348p001_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:32px;
  height:40px;
}
#u348.compound {
  width:0px;
  height:0px;
}
#u348 {
  position:absolute;
  left:1769px;
  top:373px;
  width:80px;
  height:2px;
}
#u349 {
  position:absolute;
  left:2px;
  top:-7px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u350_div {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u350 {
  position:absolute;
  left:194px;
  top:1340px;
  width:285px;
  height:60px;
}
#u351 {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  white-space:nowrap;
}
#u352_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:91px;
  height:22px;
}
#u352p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:82px;
  height:2px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u352p000_img {
  position:absolute;
  left:-10px;
  top:-11px;
  width:94px;
  height:24px;
}
#u352p001 {
  position:absolute;
  left:-5px;
  top:-9px;
  width:20px;
  height:20px;
}
#u352p001_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:32px;
  height:40px;
}
#u352.compound {
  width:0px;
  height:0px;
}
#u352 {
  position:absolute;
  left:437px;
  top:1359px;
  width:80px;
  height:2px;
}
#u353 {
  position:absolute;
  left:2px;
  top:-7px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
